{# The macro to render the search form has been moved in the global template folder to make it available everywhere #}

{% macro render_search_result(doc, loop_f, start_count=0, cls='') %}
	<div class="row-fluid searchresult">
		<div class="span1 ">
			<label class="checkbox">
				<input type="checkbox" value="{{ doc.bibcode }}" name="bibcode"/>
				{{ loop_f.index + start_count }}.
			</label>
		</div>
		<div class="span11">
			<div class='span3 bibcode'><a href="{{ url_for('abs.abstract', bibcode=doc.bibcode) }}">{{ doc.bibcode }}</a></div>
			<div class="span2 citation_count">
				Cited by XXX
			</div>
			<div class="span3 letterlink_box">
				[ E F G L X D T R C S N U ]
			</div>
		    <div class="span12 title"><a href="{{ url_for('abs.abstract', bibcode=doc.bibcode) }}">{{ doc.title }}</a></div>
		    {% if doc.author %}
		        <div class="span12 author">
		        {# { '; '.join(doc.author) } #}
		        {% for auth in doc.author %}
		        	{% if loop.index0 < 4 %}{{ auth }}{% endif %}{% if loop.index0 < 3 %};{% endif %}
		        {% endfor %}
		        {% if loop.length > 4 %}
		        	<em>and {{ loop.length - 4 }} coauthors</em>
		        {% endif %}
		        </div>
		    {% endif %}
		    <div class="span12 pubdate"><em>Published in {{ doc.pubdate|format_ads_date}}</em></div>
		    <div class="span12 snippets" style="color:red">snippets</div>
	    </div>
	</div>
{% endmacro %}

{# ###Macro for a single group of facets with a unique level of deepness### #}
{% macro render_facet_box(facetid, facettitle, resp, open=False, limit_to=[], facetid_html=None ) %}
	{# first of all I check which id to use to build the widget #}
	{% if facetid_html == None %}
		{% set facetid_html=facetid %}
	{% endif %}
	{% set current_page = resp.get_pagination()['current_page']%}
	
	<div class="accordion-group">
		<div class="accordion-heading">
			<div class="accordion-toggle" data-toggle="collapse" href="#collapse{{ facetid_html }}">
			  <strong>{{ facettitle }}</strong> <i id="icon{{ facetid_html }}" class="icon-chevron-{% if open or resp.get_facet_param_field(facetid) %}down{% else %}left{% endif %} pull-right"></i>
			</div>
		</div>
		<div id="collapse{{ facetid_html }}" class="accordion-body collapse {% if open or resp.get_facet_param_field(facetid) %}in{% endif %}">
			<div class="accordion-inner">
			  <ul id="facetList{{ facetid_html }}" class="unstyled">
			  	{% for elem in resp.get_facets_fields(facetid) %}
			  		{% if not limit_to %}
				  		<li>
				  		{% if elem[2] !='selected' %}
				  			<a href="{{ request.url|replace(request.url_root, '/')|replace('&page=%s' % current_page, '') }}&{{ facetid }}={{ elem[0]|urlencode }}">{{ elem[0] }} ({{ elem[1] }})</a>
				  		{% else %}
				  			{% set remove_facet = '&%s=%s' % (facetid, elem[0]|urlencode) %}
				  			{{ elem[0] }} ({{ elem[1] }}) 
				  			<a href="{{ request.url|replace(request.url_root, '/')|replace(remove_facet, '')|replace('&page=%s' % current_page, '') }}" title="remove &quot;{{ elem[0] }}&quot;"><i class="icon-remove-sign"></i></a>
				  		{% endif %}
				  		</li>
				  	{% else %}
				  		{% for limit in limit_to %}
				  			{% if elem[0] == limit %}
				  				<li>
					  			{% if elem[2] !='selected' %}
					  			<a href="{{ request.url|replace(request.url_root, '/')|replace('&page=%s' % current_page, '') }}&{{ facetid }}={{ elem[0]|urlencode }}">{{ elem[0] }} ({{ elem[1] }})</a>
						  		{% else %}
						  			{% set remove_facet = '&%s=%s' % (facetid, elem[0]|urlencode) %}
						  			{{ elem[0] }} ({{ elem[1] }}) 
						  			<a href="{{ request.url|replace(request.url_root, '/')|replace(remove_facet, '')|replace('&page=%s' % current_page, '') }}" title="remove &quot;{{ elem[0] }}&quot;"><i class="icon-remove-sign"></i></a>
						  		{% endif %}
						  		</li>
				  			{% endif %}
				  		{% endfor %}
				  	{% endif %}
			  	{% endfor %}
			  </ul>
			  <a class="more facetsMoreLess muted"><small>more...</small></a><a class="less facetsMoreLess muted pull-right"><small>less...</small></a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		//Code to change the icon in the section containing the title of the facets 
		$('#collapse{{ facetid_html }}').on('hide', function () {
			$('#icon{{ facetid_html }}').attr('class', 'icon-chevron-left pull-right');
		});
		$('#collapse{{ facetid_html }}').on('show', function () {
			$('#icon{{ facetid_html }}').attr('class', 'icon-chevron-down pull-right');
		});
		//Code to show/hide the facets
		var max_facets = 5;
		$('#facetList{{ facetid_html }} li:gt('+(max_facets-1)+')').hide(); //the "5" shoud be a variable thai I can configure from outside!!  
		//if I have hidden facets 
		if ($('#facetList{{ facetid_html }} li:hidden').length > 0)
		{
			//I show the button "more" 
			$('#collapse{{ facetid_html }} a.more').show();
			//I configure the "more" to expand the list 
			$('#collapse{{ facetid_html }} a.more').live('click', function(){
				//I expand the next N elements 
				var hidden_li = $('#facetList{{ facetid_html }} li:hidden');
				for (var i=0; i<max_facets; i++)
					$(hidden_li[i]).show('fast', function(){
						//If there are no more hidden elements I hide the more button 
						if ($('#facetList{{ facetid_html }} li:hidden').length == 0)
							$('#collapse{{ facetid_html }} a.more').hide();
					});
				//I show the "less" anyway because there will be for sure more than N minimum elements 
				if ($('#collapse{{ facetid_html }} a.less').is(':hidden'))
					$('#collapse{{ facetid_html }} a.less').show();
			});
			//I configure the "less" to collapse the list 
			$('#collapse{{ facetid_html }} a.less').live('click', function(){
				var visible_li = $('#facetList{{ facetid_html }} li:visible');
				var to_hide = max_facets;
				//I make sure that I don't hide more than the minimum allowed 
				if ((visible_li.length - max_facets) < max_facets)
					to_hide = visible_li.length - max_facets;
				//I hide the elements 
				for (var i=1; i<=to_hide; i++)
					$(visible_li[visible_li.length - i]).hide('fast', function(){
						//If I've reached the minimum of elements to hide, I hide "less"
						if ($('#facetList{{ facetid_html }} li:visible').length == max_facets)
							$('#collapse{{ facetid_html }} a.less').hide();
					});
				//I show "more" if it is hidden 
				if ($('#collapse{{ facetid_html }} a.more').is(':hidden'))
					$('#collapse{{ facetid_html }} a.more').show();
			});
		}
	</script>
{% endmacro %}

{# ###Macro for very basic pagination with result number on top of the results #}
{% macro render_result_numbers(resp) %}
	{% set pagination=resp.get_pagination() %}
	<span class="help-inline hidden-phone results_count">
		<a {% if pagination['current_page'] == 1 %} class="disabled"{% else %}
		href="{{ request.url|replace(request.url_root, '/')|replace('&page=%s' % pagination['current_page'], '') }}&page={{ pagination['current_page'] - 1 }}"{% endif %}>&#8249; Previous</a>
		|
		{{ resp.get_start_count() + 1}} to {{ resp.get_start_count() + resp.get_count_in_resp() }} of {{ resp.get_count() }}
		|
		<a {% if pagination['current_page'] == pagination['num_total_pages'] %} class="disabled"{% else %} 
		href="{{ request.url|replace(request.url_root, '/')|replace('&page=%s' % pagination['current_page'], '') }}&page={{ pagination['current_page'] + 1 }}"{% endif %}>Next &#8250;</a>
	</span>
{% endmacro %}

{# ###Macro for pagination ### #}
{% macro render_pagination(pagination) %}
	<div class="pagination pagination-small pagination-centered">
		<ul>
			<li{% if pagination['current_page'] == 1 %} class="disabled"{% else %} title="First"{% endif %}>
				<a{% if pagination['current_page'] != 1 %} 
				href="{{ request.url|replace(request.url_root, '/')|replace('&page=%s' % pagination['current_page'], '') }}&page=1"{% endif %}>&#171;</a>
			</li>
			<li{% if pagination['current_page'] == 1 %} class="disabled"{% else %} title="Prev"{% endif %}>
				<a{% if pagination['current_page'] != 1 %} 
				href="{{ request.url|replace(request.url_root, '/')|replace('&page=%s' % pagination['current_page'], '') }}&page={{ pagination['current_page'] - 1 }}"{% endif %}>&#8249;</a>
			</li>
			{% for page in pagination['pages_before'] %}
			<li><a href="{{ request.url|replace(request.url_root, '/')|replace('&page=%s' % pagination['current_page'], '') }}&page={{ page }}">{{ page }}</a></li>
			{% endfor %}
			<li class="active"><a>{{ pagination['current_page'] }}</a></li>
			{% for page in pagination['pages_after'] %}
			<li><a href="{{ request.url|replace(request.url_root, '/')|replace('&page=%s' % pagination['current_page'], '') }}&page={{ page }}">{{ page }}</a></li>
			{% endfor %}
			<li{% if pagination['current_page'] == pagination['num_total_pages'] %} class="disabled"{% else %} title="Next"{% endif %}>
				<a{% if pagination['current_page'] != pagination['num_total_pages'] %} 
				href="{{ request.url|replace(request.url_root, '/')|replace('&page=%s' % pagination['current_page'], '') }}&page={{ pagination['current_page'] + 1 }}"{% endif %}>&#8250;</a>
			</li>
			<li{% if pagination['current_page'] == pagination['num_total_pages'] %} class="disabled"{% else %} title="Last"{% endif %}>
				<a{% if pagination['current_page'] != pagination['num_total_pages'] %} 
				href="{{ request.url|replace(request.url_root, '/')|replace('&page=%s' % pagination['current_page'], '') }}&page={{ pagination['num_total_pages'] }}"{% endif %}>&#187;</a>
			</li>
  		</ul>
	</div>
{% endmacro %}

