{% macro render_search_result(doc, cls='') %}
<li>
<div class='searchresult {{ cls }}'>
    <div class='bibcode'><a href="{{ url_for('abs.abstract', bibcode=doc.bibcode) }}">{{ doc.bibcode }}</a></div>
    <div class='title'>{{ doc.title }}</div>
    {% if doc.author %}
        <div class='author'>{{ '; '.join(doc.author) }}</div>
    {% endif %}
    <div class='pub'>{{ doc.pub }}</div>
</div>
</li>
{% endmacro %}

{# The macro to render rthe search form has been moved in the global template folder to make it available everywhere #}
