<!doctype html>
<html>
<head>
	<title>searchcompare: comparing ADS Classic vs Solr search results</title>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('searchcompare.static', filename='js/jquery.ba-bbq.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('searchcompare.static', filename='js/searchcompare.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('searchcompare.static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('searchcompare.static', filename='css/Toast/toast.css') }}"/> 
</head>
<body>

<div class="wrap">
  <div class="grids">
    <div class="grid-12 header">
        searchcompare
    </div>
    <div id="controls" class="grid-12">
    
        <div class="grid-5">
            <label for="input-solr">Classic:</label>
            <input type="text" name="input-classic" id="input-classic"/>
        </div>
        <div class="grid-5">
            <label for="input-solr">Solr:</label>
            <input type="text" name="input-solr" id="input-solr"/>
        </div>
        <div class="grid-2">
            <input type="button" id="search-button" value="search"/>
        </div>
    </div>
    <div class="grid-half searchResults">
        <div class="resultsSpinner">Working...</div>
        <div id="results-classic">
        </div>
    </div>
    <div class="grid-6 searchResults">
        <div class="resultsSpinner">Working...</div>
        <div id="results-solr">
        </div>
    </div>
  </div>
</div>
</bodY>
</html>