
div.searchresult {
	margin-bottom: 10px;
}

div.searchresult div.bibcode {
	font-size: .9em;
}

div.searchresult div.title {
	font-weight: bold;
}

div.absview {
	margin-top: 20px;
}

div.absview div.row {
	margin-bottom: 5px;
}

div.absview div.row label {
	font-weight: bold;
}


/*CSS for global Layout*/
html,
body {
    height: 100%;
}
 
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -200px;
}
#push,
#footer {
    height: 200px;
    
    font-size:12px;
	line-height:13px;
}
#global_body_container {
	margin-top:10px;	
}

div.centered {
	text-align:center;	
}

#advanced_options {
	display: none;
	margin-top:2px;
}

/*css for query forms*/
.link_only_js {
	cursor: pointer;
}

.adv_opt_box {
	margin-bottom: 5px;
	padding: 5px;
}
.adv_opt_box,  .label_adv_opt_box {
	font-size: .9em;
}

.adv_opt_box_foll {
	margin-left:10px;
}


