/*CSS for global Layout*/
html,
body {
    height: 100%;
}
 
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -200px;
}
#push,
#footer {
    height: 200px;
    
    font-size:12px;
	line-height:13px;
}
#global_body_container {
	margin-top:10px;	
}

div.centered {
	text-align:center;	
}

#advanced_options {
	display: none;
	margin-top:2px;
}

/*css for query forms*/
.link_only_js {
	cursor: pointer;
}

.adv_opt_box {
	margin-bottom: 5px;
	padding: 5px;
}
.adv_opt_box,  .label_adv_opt_box {
	font-size: .9em;
}

.adv_opt_box_foll {
	margin-left:10px;
}

/*********************/
/*Search result page */

div.searchResults {
	margin-top:5px;	
}

span.results_count {
}

div.searchresult {
	margin-bottom: 10px;
}

div.searchresult div.bibcode, div.searchresult div.citation_count, div.searchresult div.letterlink_box, 
div.searchresult div.title, div.searchresult div.author, div.searchresult div.snippets,  div.searchresult div.pubdate{
	float:left;
	min-height:0;
}

div.searchresult div.citation_count, div.searchresult div.letterlink_box {
	
}

div.searchresult div.title, div.searchresult div.author, div.searchresult div.snippets,  
div.searchresult div.pubdate {
	clear:both;
	margin-left:0;
}

div.searchresult div.title {
	clear:both;
	font-weight: bold;
	font-size:1.1em;
}

div.searchresult div.title a {
	color: #333;	
}


/*Facets on top*/
span.appliedFilter {
    background: none repeat scroll 0 0 #E2EDFE;
    border: 1px solid #C4DAFE;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    margin-right: 0.33em;
    margin-bottom:3px;
    padding: 3px 10px; 
    position: relative;
    font-size: .9em;
}
span.appliedFilter a {
	margin-left:10px;
}


/* Abstract*/
div.absview {
	margin-top: 20px;
}

div.absview div.row {
	margin-bottom: 5px;
}

div.absview div.row label {
	font-weight: bold;
}

#facets {
	font-size:.9em;	
}

.facetsMoreLess {
	cursor:pointer;
	display:none;
}