[loggers]
keys=root,adsabs,api

[handlers]
keys=console,file,errors,api

[formatters]
keys=simple,verbose

[logger_root]
level=INFO
handlers=

[logger_adsabs]
level=INFO
qualname=adsabs
handlers=file,console,errors
propogate=0

[logger_api]
level=INFO
qualname=adsabs.modules.api
handlers=api

[handler_console]
class=StreamHandler
formatter=simple
args=(sys.stdout,)

[handler_file]
class=FileHandler
formatter=verbose
args=("logs/adsabs.log",)

[handler_errors]
level=ERROR
class=mongolog.handlers.MongoHandler
args=('log','adsabs','localhost',27017, 'INFO')

[handler_api]
class=mongolog.handlers.MongoHandler
args=('api','adsabs','localhost',27017, INFO)

[formatter_simple]
format=%(asctime)s - %(levelname)s - %(message)s
datefmt=

[formatter_verbose]
format=%(levelname)s %(asctime)s %(module)s %(process)d %(thread)d %(message)s
