Flask>=0.8
Flask-SQLAlchemy>=0.15
Flask-MongoAlchemy>=0.5.4
Flask-Script>=0.3.1
Flask-WTF>=0.5.4
Flask-Login>=0.1
Flask-Mail>=0.6
Flask-Pushrod>=0.1.2
SQLAlchemy>=0.7.3
WTForms>=1.0
-e git+https://github.com/adsabs/flask-solrpy.git#egg=Flask-Solrpy
-e git+https://github.com/puentesarrin/mongodb-log.git#egg=mongolog-dev
simplejson
lxml>=2.3.5
unittest2
fixtures
testtools
nose==1.2.1
scrubber>=1.6.1
BeautifulSoup>=3.2.1
flask-debugtoolbar
MySQL-python
