-e git+https://github.com/theorm/mongobox.git#egg=mongobox
BeautifulSoup>=3.2.1
Flask-DebugToolbar>=0.8.0
Flask-Login>=0.1.3
Flask-Mail>=0.8.2
Flask-MongoAlchemy>=0.5.4
Flask-Pushrod>=0.1.2
Flask-SQLAlchemy>=0.16
Flask-Script>=0.5.3
Flask-WTF>=0.8.3
Flask>=0.9
MongoAlchemy>=0.14
MySQL-python
SQLAlchemy>=0.8.1
WTForms>=1.0.4
beautifulsoup4>=4.2.0
beaver
dicttoxml >= 1.1.2
fixtures
itsdangerous>=0.21
lxml>=2.3.5
nose==1.2.1
pytz
requests>=1.1.0
redis
scrubber>=1.6.1
simplejson
testtools
unittest2
