{# ###Macro to render re_sort menu #}
{% macro render_re_sort(resp, base_url, disabled=False) %}
	{% set current_page = resp.get_pagination()['current_page']%}
	{% set re_sort_type = request.values.get('re_sort_type') %}
	{% set re_sort_dir = request.values.get('re_sort_dir') %}
	{% set base_re_sort_url = base_url +'?'+ request.query_string|replace('&page=%s' % current_page, '')|replace('&re_sort_type=%s' % re_sort_type, '')|replace('&re_sort_dir=%s' % re_sort_dir, '')%}
	<span class="dropdown pull-right">
	<!-- Link or button to toggle dropdown -->
		<a class="btn dropdown-toggle{% if disabled %} disabled{% endif %}" data-toggle="dropdown" 
			{% if re_sort_type and re_sort_dir %}
			title="Sort applied"
			{% else %}
			title="Sort list of results"
			{% endif %}
			data-rel="bootstrap_tooltip"
			>
			<i class="icon-random"></i> Sort{% if re_sort_type %}<i class="icon-ok-sign"></i>{% else %}<i class="icon-white"></i>{% endif %}<i class="caret"></i>
		</a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			<li class="nav-header">ALL records:</li>
			<li>
				<a href="{{ base_re_sort_url }}&re_sort_type=RELEVANCE">by relevance
				{% if re_sort_type == 'RELEVANCE' %}
				<i class="icon-ok-sign"></i>
				{% endif %}</a>
			</li>
			<li class="dropdown-submenu pull-left">
				<a tabindex="-1"
				{% if re_sort_type == 'DATE' %}
					{% if re_sort_dir=='desc' %}
					href="{{ base_re_sort_url }}&re_sort_type=DATE&re_sort_dir=asc"
					{% elif re_sort_dir=='asc' %}
					href="{{ base_re_sort_url }}&re_sort_type=DATE&re_sort_dir=desc"
					{% endif %}
				{% else %}
				href="{{ base_re_sort_url }}&re_sort_type=DATE&re_sort_dir=desc"
				{% endif %}
				>by date
					{% if re_sort_type == 'DATE' %}
						<i class="icon-ok-sign"></i>
					{% endif %}</a>
				<ul class="dropdown-menu">
					<li class="nav-header">by date</li>
					<li><a tabindex="-1" href="{{ base_re_sort_url }}&re_sort_type=DATE&re_sort_dir=desc">Descending
						{% if re_sort_type == 'DATE' and re_sort_dir=='desc' %}
						<i class="icon-ok-sign"></i>
						{% endif %}</a>
					</li>
					<li><a tabindex="-1" href="{{ base_re_sort_url }}&re_sort_type=DATE&re_sort_dir=asc">Ascending
						{% if re_sort_type == 'DATE' and re_sort_dir=='asc' %}
						<i class="icon-ok-sign"></i>
						{% endif %}</a>
					</li>
				</ul>
			</li>
		  	<li class="dropdown-submenu pull-left">
				<a tabindex="-1"
				{% if re_sort_type == 'CITED' %}
					{% if re_sort_dir=='desc' %}
					href="{{ base_re_sort_url }}&re_sort_type=CITED&re_sort_dir=asc"
					{% elif re_sort_dir=='asc' %}
					href="{{ base_re_sort_url }}&re_sort_type=CITED&re_sort_dir=desc"
					{% endif %}
				{% else %}
				href="{{ base_re_sort_url }}&re_sort_type=CITED&re_sort_dir=desc"
				{% endif %}
				>by citation num
				{% if re_sort_type == 'CITED' %}
				<i class="icon-ok-sign"></i>
				{% endif %}</a>
				<ul class="dropdown-menu">
					<li class="nav-header">by citation num</li>
					<li><a tabindex="-1" href="{{ base_re_sort_url }}&re_sort_type=CITED&re_sort_dir=desc">Descending
						{% if re_sort_type == 'CITED' and re_sort_dir=='desc' %}
						<i class="icon-ok-sign"></i>
						{% endif %}</a>
					</li>
					<li><a tabindex="-1" href="{{ base_re_sort_url }}&re_sort_type=CITED&re_sort_dir=asc">Ascending
						{% if re_sort_type == 'CITED' and re_sort_dir=='asc' %}
						<i class="icon-ok-sign"></i>
						{% endif %}</a>
					</li>
				</ul>
			</li>
		  	<li class="dropdown-submenu pull-left">
				<a tabindex="-1"
				{% if re_sort_type == 'POPULARITY' %}
					{% if re_sort_dir=='desc' %}
					href="{{ base_re_sort_url }}&re_sort_type=POPULARITY&re_sort_dir=asc"
					{% elif re_sort_dir=='asc' %}
					href="{{ base_re_sort_url }}&re_sort_type=POPULARITY&re_sort_dir=desc"
					{% endif %}
				{% else %}
				href="{{ base_re_sort_url }}&re_sort_type=POPULARITY&re_sort_dir=desc"
				{% endif %}
				>by popularity
				{% if re_sort_type == 'POPULARITY' %}
				<i class="icon-ok-sign"></i>
				{% endif %}</a>
				<ul class="dropdown-menu">
					<li class="nav-header">by popularity</li>
					<li><a tabindex="-1" href="{{ base_re_sort_url }}&re_sort_type=POPULARITY&re_sort_dir=desc">Descending
						{% if re_sort_type == 'POPULARITY' and re_sort_dir=='desc' %}
						<i class="icon-ok-sign"></i>
						{% endif %}</a>
					</li>
					<li><a tabindex="-1" href="{{ base_re_sort_url }}&re_sort_type=POPULARITY&re_sort_dir=asc">Ascending
						{% if re_sort_type == 'POPULARITY' and re_sort_dir=='asc' %}
						<i class="icon-ok-sign"></i>
						{% endif %}</a>
					</li>
				</ul>
			</li>
			{% if re_sort_type %}
			<li class="divider"></li>
			<li><a tabindex="-1" href="{{ base_re_sort_url }}">Remove Sort</a></li>
			{% endif %}
		</ul>
	</span>
{% endmacro %}

{# ###Macro to render view/export menu #}
{% macro render_export_menu() %}
<div class="export_view_menu dropdown pull-right">
	<a class="btn dropdown-toggle" data-toggle="dropdown" ><i class="icon-th"></i> Export<i class="caret"></i></a>
	<ul class="dropdown-menu">
		<!--li class="nav-header">records (this page or selected):</li-->
		<li><a tabindex="-1" class="jslinkmenu" onclick="ResultListManager.export_to_ads_classic()">in ADS Classic</a></li>
		<li><a tabindex="-1" class="jslinkmenu" onclick="ResultListManager.export_records_in_other_format('BIBTEX')">in Bibtex</a></li>
		<li><a tabindex="-1" class="jslinkmenu" onclick="ResultListManager.export_records_in_other_format('AASTeX')">in AASTex</a></li>
		<li><a tabindex="-1" class="jslinkmenu" onclick="ResultListManager.export_records_in_other_format('ENDNOTE')">in EndNote</a></li>
	</ul>
</div>
{% endmacro %}

{# ###Macro to render visualization menu #}
{% macro render_view_menu() %}
<div class="export_view_menu dropdown pull-right">
	<a class="btn dropdown-toggle" data-toggle="dropdown" ><i class="icon-picture"></i> View<i class="caret"></i></a>
	<ul class="dropdown-menu">
		{# <li class="nav-header">records:</li> #}
		<li><a tabindex="-1" class="jslinkmenu" 
		  onclick="ResultListManager.visualize('{{ url_for('visualization.author_network') }}')">Author network</a></li>
		<li><a tabindex="-1" class="jslinkmenu" 
		  onclick="ResultListManager.visualize('{{ url_for('visualization.alladin_lite') }}')">Objects skymap</a></li>
		<li><a tabindex="-1" class="jslinkmenu" 
		  onclick="ResultListManager.visualize('{{ url_for('visualization.word_cloud') }}')">Word cloud</a></li>

	</ul>
</div>
{% endmacro %}

{# ###Macro to render analyze menu #}
{% macro render_analyze_menu() %}
<div class="export_view_menu dropdown pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" ><i class="icon-wrench"></i> Analyze <i class="caret"></i></a>
        <ul class="dropdown-menu">
                <li class="nav-header">selected records:</li>
                <li><a tabindex="-1" class="jslinkmenu" onclick="ResultListManager.citation_helper()">Citation Helper</a></li>
                <li><a tabindex="-1" class="jslinkmenu" onclick="ResultListManager.metrics()">Metrics</a></li>
        </ul>
</div>
{% endmacro %}

{# ###Macro to render toggle all button #}
{% macro render_toggle_all_paper_list() %}
<span class="btn" data-rel="bootstrap_tooltip" title="Toggle all" onclick="$('input[type=checkbox][name=bibcode]').prop('checked', function() {return !$(this).prop('checked')});">
	<i class="icon icon-check"></i>
</span>
{% endmacro %}
