{# ###Macro for a single group of facets with a unique level of deepness### #}
{% macro render_facet_box(templ_facetid, resp) %}
	{# I get the configuration for this facet #}
	{% set facet_config = config.FACETS_IN_TEMPLATE_CONFIG[templ_facetid] %}
	{# then I extract the configurations I need #}
	{% set facetid=facet_config['facetid'] %} 
	{% set facettitle=facet_config['facet_title'] %} 
	{% set open=facet_config['open_by_default'] %} 
	{% set limit_to=facet_config['value_limit_to'] %} 
	{% set facetid_html=facet_config['facetid_html'] %}
	
	{# first of all I check which id to use to build the widget #}
	{% if facetid_html == None %}
		{% set facetid_html=facetid %}
	{% endif %}
	{% set current_page = resp.get_pagination()['current_page']%}
	
	<div class="accordion-group">
		<div class="accordion-heading">
			<div class="accordion-toggle" data-toggle="collapse" href="#collapse{{ facetid_html }}">
				<i id="icon{{ facetid_html }}" class="icon-chevron-{% if open or resp.get_facet_param_field(facetid) %}down{% else %}right{% endif %}"></i><strong class="facetsTitle">{{ facettitle }}</strong> 
				<div id="apply_menu_{{ facetid_html }}" class="dropdown pull-right apply_facets_menu {% if not open and not resp.get_facet_param_field(facetid) %}hidden_elem{% endif %}">
					<a class="btn btn-mini dropdown-toggle disabled" data-toggle="dropdown">apply <span class="caret"></span></a>
					<ul class="dropdown-menu dropdown-menu-small">
						<li class="disabled op_and"><a class="" onclick="">and</a></li>
						<li class="disabled op_or"><a class="" onclick="">or</a></li>
						<li class="disabled op_excl"><a onclick="">exclude</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="collapse{{ facetid_html }}" class="accordion-body collapse {% if open or resp.get_facet_param_field(facetid) %}in{% endif %}">
			<div class="accordion-inner">
				<form id="facetForm_{{ facetid_html }}"
						data-selected_checkbox_facets="{}">
					<ul id="facetList{{ facetid_html }}" class="unstyled">
						{% for elem in resp.get_facets_fields(facetid) %}
						{% if not limit_to %}
					 		<li{% if loop.index > 5 %} class="strHidden"{% endif %}>
					 			<input class="checkboxfacet checkboxclass_{{ facetid_html }}" 
									type="checkbox" 
									data-value="{{ elem[0] }}" 
									data-facetid_html="{{ facetid_html }}"
									onchange="FacetsComponents.multiple_facet_selection(this);"/>
					 		{% if elem[2] !='selected' %}
					 			<a href="{{ url_for('search.search') }}?{{ request.query_string|rem_par_url('page')|ins_par_url(facetid, elem[0]) }}">{{ elem[0] }} ({{ elem[1] }})</a>
					 		{% else %}
					 			{{ elem[0] }} ({{ elem[1] }}) 
					 			<a href="{{ url_for('search.search') }}?{{ request.query_string|rem_par_url('page')|rem_par_url(facetid, elem[0]) }}" title="remove &quot;{{ elem[0] }}&quot;"><i class="icon-remove-sign"></i></a>
					 		{% endif %}
					 		</li>
					 	{% else %}
					 		{% for limit in limit_to %}
					 			{% if elem[0] == limit %}
					 				<li>
					 					<input class="checkboxfacet checkboxclass_{{ facetid_html }}" 
											type="checkbox" 
											data-value="{{ elem[0] }}" 
											data-facetid_html="{{ facetid_html }}"
											data-facetid_original="{{ facetid }}"
											onchange="FacetsComponents.multiple_facet_selection(this);"/>
					  			{% if elem[2] !='selected' %}
					  			<a href="{{ url_for('search.search') }}?{{ request.query_string|rem_par_url('page')|ins_par_url(facetid, elem[0]) }}">{{ elem[0] }} ({{ elem[1] }})</a>
						  		{% else %}
						  			{{ elem[0] }} ({{ elem[1] }}) 
						  			<a href="{{ url_for('search.search') }}?{{ request.query_string|rem_par_url('page')|rem_par_url(facetid, elem[0]) }}" title="remove &quot;{{ elem[0] }}&quot;"><i class="icon-remove-sign"></i></a>
						  		{% endif %}
						  		</li>
					 			{% endif %}
					 		{% endfor %}
					 	{% endif %}
						{% endfor %}
					</ul>
					<a class="less facetsMoreLess muted pull-left"><small>less...</small></a><a class="more facetsMoreLess muted pull-right"><small>more...</small></a>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(
			function(){
				FacetsComponents.sigle_level_manager('{{ facetid_html }}');
			}		
		);
	</script>
{% endmacro %}


{# ###Macro for a single group of facets with 2 levels of deepness### #}
{% macro render_2level_hier_facet_box(templ_facetid, resp) %}
	{# I get the configuration for this facet #}
	{% set facet_config = config.FACETS_IN_TEMPLATE_CONFIG[templ_facetid] %}
	{# then I extract the configurations I need #}
	{% set facetid=facet_config['facetid'] %} 
	{% set facettitle=facet_config['facet_title'] %} 
	{% set open=facet_config['open_by_default'] %} 
	{% set facetid_html=facet_config['facetid_html'] %}
	
	{# first of all I check which id to use to build the widget #}
	{% if facetid_html == None %}
		{% set facetid_html=facetid %}
	{% endif %}
	{% set current_page = resp.get_pagination()['current_page']%}
	{# I get the list of applied facets for this level and I create a list of IDs of facets to be open by default #}
	{% set facet_ids_to_open = (resp.get_facet_param_field(facetid)|get_prev_level_applied_facets(1)) %}
	<div class="accordion-group">
		<div class="accordion-heading">
			<div class="accordion-toggle" data-toggle="collapse" href="#collapse{{ facetid_html }}">
				<i id="icon{{ facetid_html }}" class="icon-chevron-{% if open or resp.get_facet_param_field(facetid) %}down{% else %}right{% endif %}"></i><strong class="facetsTitle">{{ facettitle }}</strong>
				<div id="apply_menu_{{ facetid_html }}" class="dropdown pull-right apply_facets_menu {% if not open and not resp.get_facet_param_field(facetid) %}hidden_elem{% endif %}">
					<a class="btn btn-mini dropdown-toggle disabled" data-toggle="dropdown">apply <span class="caret"></span></a>
					<ul class="dropdown-menu dropdown-menu-small">
						<li class="disabled op_and"><a class="" onclick="">and</a></li>
						<li class="disabled op_or"><a class="" onclick="">or</a></li>
						<li class="disabled op_excl"><a onclick="">exclude</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="collapse{{ facetid_html }}" class="accordion-body collapse {% if open or resp.get_facet_param_field(facetid) %}in{% endif %}">
			<div class="accordion-inner">
				<form id="facetForm_{{ facetid_html }}"
						data-selected_checkbox_facets="{}">
					<ul id="facetList{{ facetid_html }}" class="unstyled">
					{% for elem in resp.get_facets_fields(facetid, hierarchical=True) %}
						<li{% if loop.index > 5 %} class="strHidden"{% endif %}>
							<span class="icon-chevron-right expCollSubFacet expCollSubFacet{{ facetid_html }}{% if elem[4] in facet_ids_to_open %} openByDefault{% endif %}" 
								data-id_sublevel="second_level_{{ elem[4]|facet_to_id }}"
								data-templ_facetid="{{ templ_facetid }}"
								data-query_params_url="{{ request.query_string }}"
								data-facet_prefix_next_level="{{ elem[4]|facet_next_level_prefix }}"
								onclick="FacetsComponents.hierarchical_level_two_builder(this);"></span>
							<input class="checkboxfacet checkboxclass_{{ facetid_html }}" 
									type="checkbox" 
									data-value="{{ elem[4] }}" 
									data-facetid_html="{{ facetid_html }}"
									onchange="FacetsComponents.multiple_facet_selection(this);"/>
							{% if elem[3] != 'selected' %}
				  				<a href="{{ url_for('search.search') }}?{{ request.query_string|rem_par_url('page')|ins_par_url(facetid, elem[-1]) }}">{{ elem[1] }} ({{ elem[2] }})</a>
				  			{% else %}
				  				{{ elem[1] }} ({{ elem[2] }}) 
							  	<a href="{{ url_for('search.search') }}?{{ request.query_string|rem_par_url('page')|rem_par_url(facetid, elem[-1]) }}" title="remove &quot;{{ elem[1] }}&quot;"><i class="icon-remove-sign"></i></a>
				  			{% endif %}
							<div id="second_level_{{ elem[4]|facet_to_id }}" class="emptySubFacets collapse"></div>
						</li>
					{% endfor %}
					</ul>
					<a class="less facetsMoreLess muted pull-left"><small>less...</small></a><a class="more facetsMoreLess muted pull-right"><small>more...</small></a>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(
			function(){
				FacetsComponents.hierarchical_level_one_manager('{{ facetid_html }}');
			}	
		);
	</script>
{% endmacro %}


{# ###Macro to render the list of applied facets #}
{% macro render_applied_facets_box(resp) %}
	{% set selected_facets = resp.get_facet_parameters() %}
	{% set current_page = resp.get_pagination()['current_page']%}
	<div class="row-fluid well well-small well-facets">
		<div class="span11 firstspan">
			{% for elem in selected_facets %}
				<span class="appliedFilter">
					{% if elem[0] == 'bib_f' %}
						Publication :
					{% elif elem[0] == 'aut_f' %}
						Author :
					{% elif elem[0] == 'key_f' %}
						Keyword :
					{% elif elem[0] == 'year_f' %}
						Year :
					{% elif elem[0] == 'bibgr_f' %}
						Bibgroup :
					{% elif elem[0] == 'grant_f' %}
						Grant :
					{% elif elem[0] == 'data_f' %}
						Data :
					{% elif elem[0] == 'vizier_f' %}
						Vizier :
					{% elif elem[0] == 'prop_f' and ('refereed' in elem[1] or 'not refereed' in elem[1]) %}
						
					{% else %}
						{{ elem[0] }} :
					{% endif %}
					{{ elem[1]|format_complex_ads_facet_str|format_ads_facet_str }} 
					<a href="{{ url_for('search.search') }}?{{ request.query_string|rem_par_url('page')|rem_par_url(elem[0], elem[1]) }}" 
					title="remove &quot;{{ elem[1]|format_complex_ads_facet_str|format_ads_facet_str }}&quot;"><i class="icon-remove-sign"></i></a>
				</span>
			{% endfor %}
		</div>
		<div class="span1">
			{% set base_remove_all = [request.query_string|rem_par_url('page')] %}
			{% for elem in selected_facets %}
				{% do base_remove_all.append(base_remove_all[-1]|rem_par_url(elem[0], elem[1])) %}				
			{% endfor %}
			<a href="{{ url_for('search.search') }}?{{ base_remove_all[-1] }}" class="clearAll">Clear all</a>
		</div>
	</div>
{% endmacro %}

