
<div class="row">
	<div class="span1">
		<a href="http://www.nasa.gov"><img src="{{ url_for('static', filename='images/nasa.png') }}?app_version={{ g.conf_params['APP_VERSION'] }}" title="NASA"/></a>
	</div>
	<div class="span3">
		<p>&copy; The SAO/NASA Astrophysics Data System</p>
		<p>The ADS is operated by the Smithsonian Astrophysical Observatory under NASA Grant NNX12AG54G</p>
		<p><a href="#terms_and_conditions">Terms and Conditions</a></p>
	</div>
	<div class="span1">
		<a href="#mirrors">Mirrors</a><br/>
		<a href="#contacts">Contacts</a><br/>
		<a href="#faq">FAQ</a><br/>
		<a href="#sitemap">Site Map</a><br/>
		<a href="#careers">Careers</a><br/>
	</div>
	<div class="span2">
		<a href="http://www.si.edu">Smithsonian Institution</a><br/>
		<a href="http://www.si.edu/Privacy">Smithsonian Privacy Notice</a><br/>
		<a href="http://www.si.edu/Termsofuse">Smithsonian Terms of Use</a><br/>
		<a href="http://www.nasa.gov">NASA</a><br/>
		<a href="http://www.cfa.harvard.edu/sao">Smithsonian Astrophysical Observatory</a><br/>
		<a href="http://www.harvard.edu">Harvard University</a><br/>
	</div>
	<div class="span4">
	
	</div>
	<div class="span1">
		<a href="http://www.cfa.harvard.edu/sao"><img src="{{ url_for('static', filename='images/si_logo.png') }}?app_version={{ g.conf_params['APP_VERSION'] }}" title="Smithsonian Astrophysical Observatory"/></a>
	</div>
</div>
