<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ADS 2.0 - {% block titlehead_el %}{% endblock %}</title>
	<script type="text/javascript" src="{{ url_for('dynamicjs.dynamic_global_variables') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery.js') }}?app_version={{ config.APP_VERSION }}"></script>
	
	<!-- bootstrap stuff -->
	<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}?app_version={{ config.APP_VERSION }}" rel="stylesheet">
	<!-- link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}?app_version={{ config.APP_VERSION }}" rel="stylesheet"-->
	<!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}?app_version={{ config.APP_VERSION }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/libs/bootstrap-select.js') }}?app_version={{ config.APP_VERSION }}"></script>
	
	<!-- BEER Specific stuff -->
	<link href="{{ url_for('static', filename='css/bootstrap_custom.css') }}?app_version={{ config.APP_VERSION }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/styles.css') }}?app_version={{ config.APP_VERSION }}" rel="stylesheet">
	
	{% block head_el %}{% endblock %}
</head>
<body>
<div id="flashmsg_el">
	{% from 'macros/misc.html' import render_flash_message %}
	{{ render_flash_message() }}
</div>
		
<div id="pagebody_el">
	{% block body_el %}{% endblock %}
</div>
	
</body>
</html>