<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>ADS 2.0 - {% block titlehead %}{% endblock %}</title>


<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>

<!-- bootstrap stuff -->
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

{% block head%}{% endblock %}
</head>
<body>

<div id="topnav" class="span9">
{% if current_user.is_authenticated() %} 
Logged user: <a href="{{ url_for('user.index') }}">{{ current_user.name }}</a>
{% else %}
<a href="{{ url_for('user.login') }}?next={{ url_for('index.index') }}">Login</a>
{% endif %}
</div>

<div id="flashmsg" class="span9">
{% from 'macros/misc.html' import render_flash_message %}
{{ render_flash_message() }}
</div>

<div id="pagebody" class="span9">
{% block body %}{% endblock %}
</div>

</body>
</html>