<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ADS 2.0 - {% block titlehead %}{% endblock %}</title>

	<!-- css should go before javascript -->
	{% assets "main_css" %}
   		 <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" media="screen" ></link>
	{% endassets %}

	{% assets "main_js" %}
   		 <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}

	<script type="text/javascript" src="{{ url_for('dynamicjs.dynamic_global_variables') }}"></script>

	<!-- apparently vega.js and jquery.flot.js can't handle the yuicompressor -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/libs/vega.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery.flot.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery.flot.stack.js') }}"></script>
    <!-- jQuery UI dialog apparently doesn't like the yuicompressor either -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'jquery-ui/js/jquery-ui-1.10.2.dialog.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'jquery-ui/js/jquery-ui-1.10.2.draggable.js') }}"></script>
	<script type="text/javascript">
  	{% from 'macros/misc.html' import render_messages %}
    {{ render_messages(['javascript']) }}
  	</script>
    
	{% block head%}{% endblock %}
</head>
<body>
{# Definition of variables needed in the body -#}
{% if config.DEPLOYMENT_PATH -%}
	{% set prefix_deployment = config.DEPLOYMENT_PATH -%}
{% else -%}
	{% set prefix_deployment = '' -%}
{% endif -%}
{% if request.query_string -%}
	{% set current_url = [prefix_deployment, request.path, '?', request.query_string]|join('')|urlencode -%}
{% else -%}
	{% set current_url = [prefix_deployment, request.path]|join('')|urlencode -%}
{% endif -%}
<div id="wrap">
	<div class="navbar navbar-inverse navbar-static-top navbar-small">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li class="active"><a href="{{ url_for('index.index') }}">ADS 2</a></li>
              		<li><a href="http://adsabs.harvard.edu">ADS Classic</a></li>
              		<li><a href="#mirrors">Mirrors</a></li>
              		<!-- >li><a href="{{ url_for('pages.page', page_path="help/") }}">Help</a></li-->
              	</ul>
			</div>
		</div>
	</div> <!-- Small navbar -->
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{{ url_for('index.index') }}"></a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="divider-vertical"></li>
						<li><a href="{{ url_for('index.index') }}"><i class="icon-home"></i> Home</a></li>
						<li><a href="{{ url_for('search.search') }}"><i class="icon-search"></i> Search</a></li>
						<li><a href="{{ url_for('feedback.feedback') }}"><i class="icon-envelope"></i> Feedback</a></li>
						<li><a href="{{ url_for('pages.page', page_path='help/') }}"><i class="icon-question-sign"></i> Help</a></li>
						<!-- li><a href="#about">About</a></li-->
					</ul>
					<ul class="nav pull-right">
						{% if current_user and current_user.is_authenticated() %}
						<li class="dropdown">
							
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> {{ current_user.name }} <b class="caret"></b></a>
							<ul class="dropdown-menu">
					    		<li class="nav-header">Options</li>
					            <li><a href="{{ url_for('user.index') }}"><i class="icon-wrench"></i> Your Account</a></li>
					            <li class="divider"></li>
					            <li><a href="{{ url_for('user.logout') }}?next={{ current_url }}"><i class="icon-off"></i> Sign off</a></li>
				            </ul>
						</li>
						{% else %}
						<li><i class="icon-user"></i><a class="nav_multiple_link" href="{{ url_for('user.login') }}?next={{ current_url }}">Log in</a>/<a class="nav_multiple_link" href="{{ url_for('user.signup') }}">Sign up</a></li>
						{% endif %}
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div> <!-- Navbar --> 
	<div id="global_body_container" class="container">
		
		<div id="globalmsg">
    {% from 'macros/misc.html' import render_messages %}
    {{ render_messages(['html']) }}
    </div>
    
		<div id="flashmsg">
		{% from 'macros/misc.html' import render_flash_message %}
		{{ render_flash_message() }}
		</div>
		
		<div id="pagebody">
		{% block body %}{% endblock %}
		</div>
	
	</div> <!-- Container -->
	<div id="push"></div> <!-- Div used to push to the bottom the footer -->
</div><!-- Wrap -->

<div id="footer">
	<div class="container">
		<footer>
			<hr>
			{% block footer %}
			{% include 'footer.html' %}
			{% endblock %}
		</footer>
	</div>
</div><!-- Footer -->

{% if config.PRINT_DEBUG_TEMPLATE or request.values.get(config.PRINT_DEBUG_TEMPLATE_PARAM, False) %}
	<div id="debugSection">
		DEBUG ON <br/>
		{% block debugSection %}{% endblock %}
	</div>
{% endif %}

{% if config.ANALYTICS_ENABLED %}
	{% block analytics %}
		{% include 'analytics.html' %}
	{% endblock %}
{% endif %}

<!-- Widgets on the edge of the page -->
<div id="feedback_widget" class="feedback_widget_container hidden_elem">
	<div id="button_feedback_widget" class="btn btn-info feedback_widget_button rotate" 
		data-fancybox-href="{{ url_for('feedback.feedback') }}?feedb_req_mode=nolayout&current_url={{ current_url|urlencode }}" data-fancybox-type="iframe">Feedback</div>
</div>


</body>
</html>
