<!doctype html>
<html>
<head>
<title>Flask MongoEngine</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">ADS GUT</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              {% if useras %}
                <a href="/user/{{useras.nick}}/profile/html" class="navbar-link">{{useras.nick}}</a>
              {% else %}
                <a href="/login" class="navbar-link">Login</a>
              {% endif %}
            </p>
            <ul class="nav">
              <li><a href="http://labs.adsabs.harvard.edu/adsabs/" class="navbar-link">Search</a></li>
              <li><a href="/postable/{{useras.nick}}/group:default/filter/html">Saved Items</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
                {% block sidebar %}{% endblock %}
              <!--li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>

              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li-->
            
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">

          <div class="row-fluid page">
                {% block body %}{% endblock %}
          </div><!--/row-->
        </div><!--/span-->
    </div><!--/row-fluid-->

</div><!--/.fluid-container-->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='underscore-min.js') }}"></script>
<script src="{{ url_for('static', filename='backbone.js') }}"></script>
<script src="{{ url_for('static', filename='coffee-script.js') }}"></script>
<script src="{{ url_for('static', filename='teacup.js') }}"></script>
<script src="{{ url_for('static', filename='widgets.js') }}"></script>
<script src="{{ url_for('static', filename='funcs.js') }}"></script>
<script src="{{ url_for('static', filename='syncs.js') }}"></script>
<script src="{{ url_for('static', filename='userprofile.js') }}"></script>
<script src="{{ url_for('static', filename='libraryprofile.js') }}"></script>
<script src="{{ url_for('static', filename='groupprofile.js') }}"></script>
<script src="{{ url_for('static', filename='itemsview.js') }}"></script>
{% block scripturls %}{% endblock %}
<script>
{% block script %}{% endblock %}
</script>
<script type="text/coffeescript">
{% block coffeescript %}{% endblock %}
</script>
</body>
</html>
