{% extends "layout.html" %}

{% block sidebar %}
<ul class="nav nav-list" id="stags">
</ul>
{% endblock %}

{% block body %}
<h2>Library <a href="/library/{{thelibrary.basic.fqin}}/filter/html">{{thelibrary.basic.fqin}}</a></h2>
<p id="breadcrumb">
Breadcrumb {{ querystring }}
</p>
<h3>Items</h3>
<ul id="items">
</ul>

{% endblock %}

{% block coffeescript %}
$=jQuery
console.log "In Filtera"

format_tags = ($sel, tags)->
  htmlstring="<li class=\"nav-header\">TAGS</li>"
  for t in tags
    nonqloc=document.location.href.split('?')[0]
    url=nonqloc+"?query=stags:#{t}"
    urla=document.location+"&query=stags:#{t}"
    if nonqloc is document.location.href
      urla=document.location+"?query=stags:#{t}"
    
    htmlstring = htmlstring+"<li><span><a href=\"#{url}\">#{t}</a>&nbsp;<a href=\"#{urla}\">(+)</a></span></li>"
  $sel.html(htmlstring)


format_items = ($sel, items, count, taggings, postings)->
  adslocation = GlobalVariables.ADS_ABSTRACT_BASE_URL;
  htmlstring=""
  for i in items
    fqin=i.basic.fqin
    console.log "item #{fqin}", taggings[fqin], postings[fqin]
    url=adslocation+"#{i.basic.name}"
    htmlstring = htmlstring+"<li><a href=\"#{url}\">#{i.basic.name}</a><br/>"
    t2list=("<a href=\"#{t}\">#{t}</a>" for t in taggings[fqin])
    htmlstring=htmlstring+"<span>Tagged as "+t2list.join(", ")+"</span><br/>"
    p2list=("<a href=\"/library/#{p}/filter/html\">#{p}</a>" for p in postings[fqin])
    htmlstring=htmlstring+"<span>Posted as "+p2list.join(", ")+"</span><br/></li>"

  $sel.html(htmlstring)
  $('#breadcrumb').append("#{count} items")

$ ->
  vars="{{ querystring | safe }}"
  $.get "/postable/{{ thelibrary.basic.fqin}}/tags?#{vars}", (data) ->
    console.log "Tag Count", data.count, vars
    format_tags($('#stags'), data.tags)
  $.get "/postable/{{ thelibrary.basic.fqin}}/items?#{vars}", (data) ->
    console.log "Item Count", data.count, vars
    theitems=data.items
    thecount=data.count
    itemlist=("items=#{encodeURIComponent(i.basic.fqin)}" for i in theitems)
    itemsq=itemlist.join("&")
    console.log "itemsq", itemlist, itemsq
    $.get "/items/taggingsandpostings?#{itemsq}", (data)->
      taggings={}
      for own k,v of data.taggings
        console.log "1>>>", k,v[0], v[1]
        if v[0] > 0
          taggings[k]=(e.thething.postfqin for e in v[1])
        else
          taggings[k]=[]
      postings={}
      for own k,v of data.postings
        console.log "2>>>", k,v[0],v[1]
        if v[0] > 0
          postings[k]=(e.thething.postfqin for e in v[1])
        else
          postings[k]=[]
      console.log taggings, postings
      format_items $('#items'), theitems, thecount, taggings, postings
{% endblock %}