{% extends "layoutnocol.html" %}
{% block body %}
  <div id="items" class="row">
      <div class="span8 items"></div>
      <div class="span4 ctrls"></div>
  </div>
{% endblock %}

{% block coffeescript %}
$=jQuery
console.log "In Postform"
#currently below only works for pubs, but ought to work otherwise too
$ -> 
  nam=false
  {% if nameable %}
  nam=true
  {% endif %}
  vars="{{ querystring | safe }}"
  console.log "VARS",vars
  $.get "/itemsinfo?#{vars}", (data) ->
    console.log "Item Count", data.count, data.items, vars, data
    theitems=data.items
    thecount=data.count
    itemlist=("items=#{encodeURIComponent(i.basic.fqin)}" for i in theitems)
    itemsq=itemlist.join("&")
    console.log "itemsq", itemlist, itemsq

    
    $.get "/items/taggingsandpostings?#{itemsq}", (data)->
      [stags, notes]=get_taggings(data)
      postings={}
      for own k,v of data.postings
        #console.log "2>>>", k,v[0],v[1]
        if v[0] > 0
          postings[k]=(e.thething.postfqin for e in v[1])
        else
          postings[k]=[]
      #{@stags, @notes, @$el, @postings, @memberable, @items, @nameable, @itemtype}
      ido=
        stags:stags
        postings:postings
        notes:notes
        $el:$('#items')
        items: theitems
        nameable: nam
        itemtype:'{{itemtype}}'
        memberable:'{{useras.nick}}'

      plinv=new itemsdo.ItemsView(ido)
      plinv.render()
{% endblock %}
