{% extends "layout.html" %}

{% block titlehead %}ADS 2.0: {{ doc.title }}{% endblock %}

{% block head%}{% endblock %}

{% block body %}

<div class="absview">
<div class="row">
    <div class="span2"><label>Bibcode</label></div>
    <div class="span5">{{ doc.bibcode }}</div>
</div>
    
<div class="row">
    <div class="span2"><label>Title</label></div>
    <div class="span5">{{ doc.title }}</div>
</div>
    
<div class="row">
    <div class="span2"><label>Authors</label></div>
    <div class="span5">{{ '; '.join(doc.author) }}</div>
</div>

<div class="row">
    <div class="span2"><label>Publication</label></div>
    <div class="span5">{{ doc.pub }}</div>
</div>

<div class="row">
    <div class="span2"><label>Publication Date</label></div>
    <div class="span5">{{ doc.pubdate }}</div>
</div>

<div class="row">
    <div class="span2"><label>Keywords</label></div>
    {% if doc.keyword %}
    <div class="span5">{{ '; '.join(doc.keyword) }}</div>
    {% else %}
    <div class="span5"><em>none</em></div>
    {% endif %}
</div>

<div class="row">
    <div class="span2"><label>Affiliations</label></div>
    {% if doc.aff %}
	    <div class="span5">
        {% for a in doc.aff %}
	        {{ a }}<br/>
        {% endfor %}
        </div>
    {% else %}
    <div class="span5"><em>none</em></div>
    {% endif %}
</div>

<div class="row">
    <div class="span2"><label>Abstract</label></div>
    <div class="span5">{{ doc.abstract }}</div>
</div>

</div>

{% endblock %}