{# Local import #}
{% from "macros/list_articles.html" import render_list_articles with context %}
{% from "macros/abstract.html" import render_abstract, render_abstract_macro_tags with context %}
{% from "macros/classic_log_request.html" import render_classic_log_request_js with context %}
{# Global import #}
{% from "macros/record_list_macros/button_menu.html" import render_export_menu, render_abstract_analyze_menu with context %}

{% extends "layout.html" %}

{% block titlehead %}{% if inveniodoc.author|length > 0 and inveniodoc.author[0].get('name') %}{{ inveniodoc.author[0].get('name')}}: {% endif %}{{ inveniodoc.title }}{% endblock %}

{% block head%}
	{% if curview == 'abstract' %}
		{{ render_abstract_macro_tags(solrdoc, inveniodoc) }}
	{% endif %}
{% endblock %}

{% block body %}

<div class="container">
	<div class="row-fluid">
		<div class="span12 well well-small ">
			<div class="span2 firstspan bibcodeHeader">{{ inveniodoc.bibcode }}</div>
			<div class="dropdown pull-right">
			    {% if curview == 'abstract'%}
					{{ render_abstract_export_menu() }}
	                {{ render_abstract_analyze_menu() }}
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="tabbable">
				<ul class="nav nav-tabs">

					<li {% if curview == 'abstract'%} 
					   class="active"
					   {%- endif %}><a
					       {% if curview != 'abstract'%} 
					       href="{{ url_for('abs.abstract', bibcode=inveniodoc.bibcode) }}"
					       {%- endif %}> Abstract </a></li>

					<li {% if curview == 'references'%} 
					   class="active"
					   {% elif not solrdoc.has_assoc_list('references')%} 
					   class="disabled"
					   {%- endif %}><a
					       {% if curview != 'references' and solrdoc.has_references() %}
					       href="{{ url_for('abs.tab_list', list_type='references', bibcode=inveniodoc.bibcode) }}"
					       {%- endif %}> References {% if solrdoc.has_references() %}({{ solrdoc.get_references_count() }}){% endif %}</a></li>

					<li {% if curview == 'citations'%}
					   class="active"
					   {% elif not solrdoc.has_assoc_list('citations')%}
					   class="disabled"
					   {%- endif %}><a
					       {% if curview != 'citations' and solrdoc.has_citations() %}
					       href="{{ url_for('abs.tab_list', list_type='citations', bibcode=inveniodoc.bibcode) }}"
					       {%- endif %}> Citations {% if solrdoc.has_citations() %}({{ solrdoc.get_citation_count() }}){% endif %}</a></li>

					<li {% if curview == 'coreads'%}
					   class="active"
					   {% elif not solrdoc.has_assoc_list('coreads')%}
					   class="disabled"
					   {%- endif %}><a
					       {% if curview != 'coreads' and solrdoc.has_coreads() %}
					       href="{{ url_for('abs.tab_list', list_type='coreads', bibcode=inveniodoc.bibcode) }}"
					       {%- endif %}> Co-Reads </a></li>

                    <li {% if curview == 'similar'%}
                       class="active"
                       {% elif not solrdoc.has_assoc_list('similar')%}
                       class="disabled"
                       {%- endif %}><a
                           {% if curview != 'similar' and solrdoc.has_similar() %}
                           href="{{ url_for('abs.tab_list', list_type='similar', bibcode=inveniodoc.bibcode) }}"
                           {%- endif %}> Similar Articles </a></li>
					
					<li {% if curview == 'toc'%}
					   class="active"
					   {% elif not solrdoc.has_assoc_list('toc') %}
					   class="disabled"
					   {%- endif %}><a
					       {% if solrdoc.has_toc() %}
					       href="{{ url_for('abs.tab_list', list_type='toc', bibcode=inveniodoc.bibcode) }}"
					       {%- endif %}> Table of contents </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">

			{% if curview == 'abstract' %}
				{# converted to macro % include 'abstract.html' %#}
				{{ render_abstract(solrdoc, inveniodoc) }}
			{% else %}
			    {{ render_list_articles(article_list, curview, solrdoc.bibcode) }}
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
    {{ render_classic_log_request_js(solrdoc.bibcode, curview) }}
    
{% endblock %}