{% macro render_input(field, cls='') %}
<div class='clearfix {% if field.errors %}error{% endif %}'>
    {{ field.label }}
    <div class='input'>
        {% if field.errors %}
        {{ field(class_=cls~' error') }}
        {% else %}
        {{ field(class_=cls) }}
        {% endif %}
        <span class="help-inline">
            {% for error in field.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </span>
    </div>
</div>
{% endmacro %}

{% macro render_action(field) %}
    <div class='actions'>
        {{ field(class_='btn primary') }}&nbsp;&nbsp;&nbsp;&nbsp;<a href='{{ url_for("index.index") }}'>Cancel</a>
    </div>
{% endmacro %}



{% macro render_flash_message() %}
    {% block flash_message %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            	<div class="container">
                {% for category, msg in messages %}
                	{% if category == 'success' %}
                		{% set alert_class = 'alert-success' %}
                		{% set pre_text = 'Success! ' %}
                	{% elif category == 'error' %}
                		{% set alert_class = 'alert-error' %}
                		{% set pre_text = 'Error! ' %}
                	{% elif category == 'info' %}
                		{% set alert_class = 'alert-info' %}
                		{% set pre_text = 'Info! ' %}
                	{% else %}
                		{% set alert_class = 'alert-block' %}
                		{% set pre_text = 'Warning! ' %}
                	{% endif %}
                	<div class="row">
                		<div class="span12">
		                    <div class="alert {{ alert_class }} flash_message">
		                    	<button type="button" class="close" data-dismiss="alert">&times;</button>
		                    	<strong>{{ pre_text }}</strong>{{ msg }}
		                    </div>
	                    </div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    {% endblock %}
{% endmacro %}
