{# ###### Macro for the basic search form ###### #}
{% macro render_search_form(form) %}
<div class="container" id="search_form">
    <form class="form-search form-search-cust" method="GET" action="{{ url_for('search.search') }}">
        <fieldset>
        	{#{ form.rows }#}
            <!-- legend>ADS metadata and fulltext integrated search</legend-->
            <div class="row">
            	<div class="span"><small><a class="link_only_js" onclick="Misc.wrapText('q', ' author:&quot;', '&quot;');">Author</a></small></div>
            	<div class="span"><small><a class="link_only_js" onclick="Misc.wrapText('q', ' author:&quot;^', '&quot;');">First Author</a></small></div>
            	<div class="span"><small><a class="link_only_js" onclick="Misc.wrapText('q', ' title:&quot;', '&quot;');">Title</a></small></div>
            	<div class="span"><small><a class="link_only_js" onclick="Misc.wrapText('q', ' year:', '');">Year</a></small></div>
            	<div class="span"><small><a class="link_only_js" onclick="Misc.wrapText('q', ' bibstem:&quot;', '&quot;');">Publication</a></small></div>
            	<div class="span"><small><a class="link_only_js" onclick="Misc.wrapText('q', ' full:&quot;', '&quot;');">Fulltext</a></small></div>
            	<div class="span"><small><a class="link_only_js disabled">Object</a></small></div>
            	<!-- div class="span"><small><a class="link_only_js" onclick="Misc.wrapText('q', ' object:&quot;', '&quot;');">Object</a></small></div-->
            </div>
            <div class="row">
            	<div class="span12">
			        {{ form.q(class="span8", placeholder=form.q.description, autofocus="autofocus") }}
			        <span class="btn" onclick="search_form_drawer_manager($('#advanced_options'), $(this))" id="drawer_handler"><i class="icon-plus"></i> options</span>
			        <button class="btn btn-primary"><i class="icon-search icon-white"></i> Search</button>
			        <div class="dropdown pull-right">
			        	<a class="btn dropdown-toggle add-open-permanent" data-toggle="dropdown"  data-rel="bootstrap_tooltip" title="Search settings">
			        		<i class="icon-cog"></i> <i class="caret"></i>
			        	</a>
			        	<ul style="min-width: 300px; padding-bottom: 0px;" class="dropdown-menu donothide clearfix">
							<li class="nav-header">Search settings</li>
							
							<!-- The transformation of the buttonSelect elements is done through the specific jQuery plugin and activated by the code in query_form.js-->
							<li class="divider"></li>
							<li class="clearfix nav-list">
								<div class="control-group clearfix">
									<label class="control-label pull-left">Display on page</label>
									<div class="controls pull-right">
										<!-- select class="btn-small span2" style="height: inherit; line-height: inherit; display: none;" name="rg">
											<option value="10">10 results</option>
											<option selected="selected" value="25">25 results</option>
											<option value="50">50 results</option>
											<option value="100">100 results</option>
										</select-->
										{{ form.nr(class="btn-small span2 hidden_elem buttonSelect") }}
									</div>
								</div>
							</li>
							
							<!--li class="modal-footer nav-list clearfix"><button class="btn btn-small pull-right" data-placement="bottom" data-rel="bootstrap_tooltip" title="use settings in current search">
							    <i class="icon-ok"></i> Apply </button>
							</li-->
						</ul>
			        </div>
		        </div>
	        </div>
	        <div class="row">
	        	<div class="span"><small><a class="link_only_js" onclick="Misc.wrapContentWithFunction('q', 'trending', Misc.listOfAlternates);"
	        						data-rel="bootstrap_tooltip" title="Returns the list of documents most read by all users who read recent papers 
	        						on the topic being researched; these are papers currently being read by people interested in this field.">Trending</a></small></div> 
            	<div class="span"><small><a class="link_only_js" onclick="Misc.wrapContentWithFunction('q', 'useful', Misc.listOfAlternates);"
            						data-rel="bootstrap_tooltip" title="Returns the list of documents most cited by the most relevant papers on the 
            						topic being researched; these are papers most often cited by experts in the field.">Useful</a></small></div> 
            	<div class="span"><small><a class="link_only_js" onclick="Misc.wrapContentWithFunction('q', 'instructive', Misc.listOfAlternates);"
            						data-rel="bootstrap_tooltip" title="Returns the list of documents citing the most cited papers on the topic being 
            						researched; these are papers containing the most extensive reviews of the field.">Instructive</a></small></div>
            	<div class="span" style="margin-left:380px;"><small><a class="link_only_js" onclick="search_form_drawer_manager($('#examples'), $(this))"
            						data-rel="bootstrap_tooltip" title="Click here to see some examples">Examples</a></small></div>
	        </div>
	        <div id="advanced_options" class="row">
	        	<div class="span12 custom-well-small">
	        	{# { form.sort_dir() } #}

	        		<div class="span4 adv_opt_box">
	        			<div class="row">
	        				<div class="span4">Publication date between</div>
	        			</div>
	        			<div class="row">
	        				<div class="span4">
	        				{{ form.month_from(placeholder='MM', maxlength="2", class="span1") }}/{{ form.year_from(placeholder='YYYY', maxlength="4", class="span1") }} and 
	        				{{ form.month_to(placeholder='MM', maxlength="2", class="span1") }}/{{ form.year_to(placeholder='YYYY', maxlength="4", class="span1") }}
	        				</div>
	        			</div>
	        		</div>
	        		<div class="span2 adv_opt_box adv_opt_box_foll">
	        			<div class="row">
	        				<div class="span2">{{ form.db_f.description }}</div>
	        			</div>
	        			<div class="row">
	        				<div class="span2">{{ form.db_f(class="span2") }}</div>
	        			</div>
	        		</div>
	        		<div class="span2 adv_opt_box adv_opt_box_foll">
	        			<div class="row">
	        				{% if not form.no_ft.raw_data or form.no_ft.raw_data[0] == '1' %}
	        				<div class="span2"><label class="checkbox label_adv_opt_box">{{ form.no_ft(value='1') }} {{ form.no_ft.description }}</label></div>
	        				{% else %}
	        				<div class="span2"><label class="checkbox label_adv_opt_box">{{ form.no_ft() }} Custom QF</label></div>
	        				{% endif %}
	        				
	        			</div>
	        			<div class="row">
	        				<div class="span2"><label class="checkbox label_adv_opt_box">{{ form.article(value='1') }} {{ form.article.description }}</label></div>
	        			</div>
	        		</div>
	        	</div>
	        	{# ####COMMENTED### 
	        	{% for radio in form.second_order_type %}
	        		{% if loop.index == 1 %}
	        			{{ radio(checked="checked", onChange="radio_second_order_type($('#sort_type'))") }} {{ radio.label }} <br/>
	        		{% else %}
	        			{{ radio(onChange="radio_second_order_type($('#sort_type'))") }} {{ radio.label }} <br/>
	        		{% endif %} 
	        	{% endfor %}####END COMMENTED### #}
	        </div>
	        <div id="examples" class="row" style="display: none">
	        	<div class="span12 custom-well-small">
	        	    <div class="span8 adv_opt_box">
	                    <dl>
							<dd><small><a class="link_only_js" onclick="$('#q').val('');Misc.wrapText('q', 'author:&quot;Huchra, John&quot;','');">Author search for 'John Huchra'</a></small></dd>
							<dd><small><a class="link_only_js" onclick="$('#q').val('');Misc.wrapText('q', '&quot;cfa redshift survey&quot;','');">Phrase search for 'cfa redshift survey'</a></small></dd>
	                        <dd><small><a class="link_only_js" onclick="$('#q').val('');Misc.wrapText('q', 'title:&quot;QSO&quot; -LHC','');">Publications with 'QSO' in their title, excluding 'LHC'</a></small></dd>
	                        <dd><small><a class="link_only_js" onclick="$('#q').val('');Misc.wrapText('q', 'arXiv:1012.5859','');">Find publication corresponding with arXiv ID '1012.5859'</a></small></dd>
	                        <dd><small><a class="link_only_js" onclick="$('#q').val('');Misc.wrapText('q', 'doi:10.1086/345794','');">Find publication corresponding with DOI '10.1086/345794'</a></small></dd>
	                        <dd><small><a class="link_only_js" onclick="$('#q').val('');Misc.wrapText('q', 'author:&quot;^Huchra, John&quot;   bibstem:&quot;ApJ&quot;','');">Find publications in the Astrophysical Journal with John Huchra as first author</a></small></dd>
							<dd><small><a class="link_only_js" onclick="$('#q').val('');Misc.wrapText('q', 'author:&quot;^Huchra, John&quot; OR &quot;cfa redshift survey&quot;  -title:&quot;2MASS&quot;','');">Find publications with 'John Huchra' as first author or with the phrase 'cfa redshift survey' but without '2MASS' in the title</a></small></dd>
							<dd><small><a class="link_only_js" onclick="$('#q').val('');Misc.wrapText('q', 'pos(author:&quot;Oort, J&quot;,2)','');">Find publications with 'Jan Oort' as second author</a></small></dd>
	                    </dl>
	                </div>
	            </div>
	        </div>
        </fieldset>
    </form>
</div>
{% endmacro %}
