{# ###### Macro for the basic search form ###### #}
{% macro render_search_form(form) %}
<div class="container" id="search_form">
    <form class="form-search form-search-cust" method="GET" action="{{ url_for('search.search') }}">
        {{ form.rows }}
        <fieldset>
            <!-- legend>ADS metadata and fulltext integrated search</legend-->
            <div class="row">
            	<div class="span"><small><a class="link_only_js" onclick="Misc.wrapText('q', ' author:&quot;', '&quot;');">Author</a></small></div>
            	<!-- div class="span"><small><a class="link_only_js disabled">First Author</a></small></div-->
            	<div class="span"><small><a class="link_only_js" onclick="Misc.wrapText('q', ' author:&quot;^', '&quot;');">First Author</a></small></div>
            	<div class="span"><small><a class="link_only_js" onclick="Misc.wrapText('q', ' title:&quot;', '&quot;');">Title</a></small></div>
            	<div class="span"><small><a class="link_only_js disabled">Object</a></small></div>
            	<!-- div class="span"><small><a class="link_only_js" onclick="Misc.wrapText('q', ' object:&quot;', '&quot;');">Object</a></small></div-->
            	<div class="span"><small><a class="link_only_js" onclick="Misc.wrapText('q', ' full:&quot;', '&quot;');">Fulltext</a></small></div>
            </div>
            <div class="row">
            	<div class="span12">
			        {{ form.q(class="span6", placeholder=form.q.description, autofocus="autofocus") }}
			        <span class="btn" onclick="search_form_drawer_manager($('#advanced_options'), $(this))" id="drawer_handler" title="more options"><i class="icon-plus"></i></span>
			        {{ form.db_key(class="span autoWidth") }}
			        {{ form.sort_type(class="span autoWidth") }}
			        <button class="btn btn-primary">Search</button>
		        </div>
	        </div>
	        <div id="advanced_options" class="row">
	        	<div class="span11 well well-small ">
	        	{# { form.sort_dir() } #}

	        		<div class="span4 adv_opt_box">
	        			<div class="row">
	        				<div class="span4">Publication date between</div>
	        			</div>
	        			<div class="row">
	        				<div class="span4">
	        				{{ form.month_from(placeholder='MM', maxlength="2", class="span1") }}/{{ form.year_from(placeholder='YYYY', maxlength="4", class="span1") }} and 
	        				{{ form.month_to(placeholder='MM', maxlength="2", class="span1") }}/{{ form.year_to(placeholder='YYYY', maxlength="4", class="span1") }}
	        				</div>
	        			</div>
	        		</div>
	        		<div class="span2 adv_opt_box adv_opt_box_foll">
	        			<div class="row">
	        				<div class="span2">{{ form.journal_abbr.description }}</div>
	        			</div>
	        			<div class="row">
	        				<div class="span2">{{ form.journal_abbr(class="span2") }}</div>
	        			</div>
	        		</div>
	        		<div class="span2 adv_opt_box adv_opt_box_foll">
	        			<div class="row">
	        				<div class="span2"><label class="checkbox label_adv_opt_box">{{ form.refereed }} {{ form.refereed.description }}</label></div>
	        			</div>
	        			<div class="row">
	        				<div class="span2"><label class="checkbox label_adv_opt_box">{{ form.article }} {{ form.article.description }}</label></div>
	        			</div>
	        		</div>
	        	</div>
	        	{# ####COMMENTED### 
	        	{% for radio in form.second_order_type %}
	        		{% if loop.index == 1 %}
	        			{{ radio(checked="checked", onChange="radio_second_order_type($('#sort_type'))") }} {{ radio.label }} <br/>
	        		{% else %}
	        			{{ radio(onChange="radio_second_order_type($('#sort_type'))") }} {{ radio.label }} <br/>
	        		{% endif %} 
	        	{% endfor %}####END COMMENTED### #}
	        </div>
        </fieldset>     
    </form>
    
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/query_form.js') }}?app_version={{ g.conf_params['APP_VERSION'] }}"></script>

{% endmacro %}
