{% extends "layout_local.html" %}
{% block localbody %}
<h3>Group {{thepostable.presentable_name(withoutclass=True)}}</h3>
  <!--iframe width="100%" src="/group/{{ thepostable.basic.fqin}}"></iframe-->
  <div id="info" style="display:none"></div>
  <br/><hr/>
  <h4>Members</h4><br/>
  <!--iframe width="100%" src="/group/{{ thepostable.basic.fqin}}/members"></iframe-->
  <p> Members of this group can post items into the group's library. </p>
  <div id="members" style="display:none"></div>

  {% if owner %}
  <br/><hr/>
  <h4>Invitations</h4><br/>
  <!--div id="invitedform" style="display:none"></div-->
  <form class="form-inline" method="POST" action="{{url_for('adsgut.makeInvitations', po=po, pt=pt, pn=pn)}}">
      {{ inviteform.csrf_token }}
      {% if inviteform.recaptcha.errors %}
      <div class="alert alert-error">
        Wrong words in recaptcha!
      </div>
      {% endif %}
      {% if inviteform.memberable.errors %}
      <div class="alert alert-error">
        Email to invite to is needed!
      </div>
      {% endif %}

    Invite a user using their email: {{ inviteform.memberable }}
    {{ inviteform.op }}
    <p>
    {{ inviteform.recaptcha }}
    <input class="btn btn-primary" type="submit" value="Invite">
  </p>
  </form>
  <p>The user's invitation will show on the user's "Groups" page. If the user accepts the invitation, they will be able to read the group library's items. They will also be able to post items into the group's library.</p>
  <div id="inviteds" style="display:none"></div>
  <div>
      <h4> Delete this Group </h4>
      <p> This is the point of no-return. All your users will lose access to any of the libraries this group may be in. </p>
      <p><a class='btn btn-danger' id="postabledeleter">DELETE</a></p>
  </div>
  {% endif %}
{% endblock %}
{% block coffeescript %}
$=jQuery
$ ->

  prefix=GlobalVariables.ADS_PREFIX+'/adsgut'
  config =
    fqpn : '{{ thepostable.basic.fqin}}'
    infoURL : "#{prefix}/group/{{ thepostable.basic.fqin}}"
    postablesURL: "#{prefix}/email/{{ useras.adsid}}/profilegroups/html"
    membersURL : "#{prefix}/group/{{ thepostable.basic.fqin}}/members"
    invitedsURL : "#{prefix}/group/{{ thepostable.basic.fqin}}/inviteds"
    owner : if '{{owner}}' == 'True' then true else false

  sections =
    $infodiv : $('div#info')
    $membersdiv : $('div#members')
    $invitedform : $('div#invitedform')
    $invitedsdiv : $('div#inviteds')

  groupprofile.get_info(sections, config)


{% endblock %}
