{% extends "layout_local.html" %}
{% block localbody %}
<h3>Group {{thegroup.basic.fqin}}</h3>
  <!--iframe width="100%" src="/group/{{ thegroup.basic.fqin}}"></iframe-->
  <div id="info" style="display:none"></div>
  <br/><hr/>
  <h4>Members</h4><br/>
  <!--iframe width="100%" src="/group/{{ thegroup.basic.fqin}}/members"></iframe-->
  <div id="members" style="display:none"></div>
  {% if owner %}
  <br/><hr/>
  <h4>Invitations</h4><br/>
  <div id="invitedform" style="display:none"></div>
  <div id="inviteds" style="display:none"></div>
  {% endif %}
{% endblock %}
{% block coffeescript %}
$=jQuery
$ ->
  
  prefix=GlobalVariables.ADS_PREFIX+'/adsgut'
  config = 
    fqpn : '{{ thegroup.basic.fqin}}'
    infoURL : "#{prefix}/group/{{ thegroup.basic.fqin}}"
    membersURL : "#{prefix}/group/{{ thegroup.basic.fqin}}/members"
    invitedsURL : "#{prefix}/group/{{ thegroup.basic.fqin}}/inviteds"
    owner : if '{{owner}}' == 'True' then true else false

  sections = 
    $infodiv : $('div#info')
    $membersdiv : $('div#members')
    $invitedform : $('div#invitedform')
    $invitedsdiv : $('div#inviteds')

  
  groupprofile.get_info(sections, config)


{% endblock %}