{% extends "layout_empty.html" %}
{% block body_el %}
<div class="container-fluid">
   {% block localbody %}{% endblock %}
</div><!--/.fluid-container-->
{% endblock %}

{% block head_el %}
<link rel=stylesheet type=text/css href="{{ url_for('adsgut.static', filename='style.css') }}"></link>
<script src="{{ url_for('adsgut.static', filename='underscore-min.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='coffee-script.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='teacup.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='widgets.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='funcs.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='syncs.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='userprofile.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='libraryprofile.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='groupprofile.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='itemsview.js') }}"></script>
{% block scripturls %}{% endblock %}
<script>
{% block script %}{% endblock %}
</script>
<script type="text/coffeescript">
{% block coffeescript %}{% endblock %}
</script>
{% endblock %}
