{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
              {% if useras.adsid != 'anonymouse' %}
                <ul class="nav nav-list" id="header">
                  <li class="nav-header">Links</li>
                  <li><span><a href="{{ url_for('adsgut.userProfileHtml', nick=useras.nick) }}">Libraries</a></span></li>
                  <li><span><a href="{{ url_for('adsgut.userProfileGroupsFromAdsidHtml', adsid=useras.adsid) }}">Groups</a></span></li>
                  <li><span><a href="{{ url_for('adsgut.udlHtml', nick=useras.nick) }}">My Saved Items</a></span></li>
                  <li><span><a href="{{ url_for('user.index') }}">My Account</a></span></li>
                </ul>
              {% endif %}
                {% block sidebar %}

                {% endblock %}
          </div><!--/.well -->
        </div><!--/span3-->
        <div class="span9">
          <div class="row-fluid page">
                {% block localbody %}{% endblock %}
          </div><!--/row-->
        </div><!--/span9-->
    </div><!--/row-fluid-->
</div><!--/.fluid-container-->
{% endblock %}
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('adsgut.static', filename='localstyle.css') }}"></link>
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/js/bootstrap-editable.min.js"></script>
<script src="{{ url_for('adsgut.static', filename='bootstrap-tags.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='coffee-script.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='teacup.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='widgets.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='funcs.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='syncs.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='userprofile.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='libraryprofile.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='groupprofile.js') }}"></script>
<script src="{{ url_for('adsgut.static', filename='itemsview.js') }}"></script>
{% block scripturls %}{% endblock %}
<script>
{% block script %}{% endblock %}
</script>
<script type="text/coffeescript">
{% block coffeescript %}{% endblock %}
</script>
{% endblock %}
{% block logout_link %}
<li><a href="{{ url_for('user.logout') }}?next={{ url_for('index.index') }}"><i class="icon-off"></i> Sign off</a></li>
{% endblock %}
