{% extends "layout_local.html" %}
{% block localbody %}
<h3>Library {{thepostable.presentable_name(withoutclass=True)}}</h3>
  <!--iframe width="100%" src="/library/{{ thepostable.basic.fqin}}"></iframe-->
  <div id="info" style="display:none"></div>
  <br/><hr/>
  <h4>Members</h4><br/>
  <!--iframe width="100%" src="/library/{{ thepostable.basic.fqin}}/members"></iframe-->

  <div id="members" style="display:none"><p>Members of this library with "read and post" access can post into this library. Only the owner can see this information for every user: you can see your own access on your "Libraries" page.</p></div>

  {% if owner %}
  <div id="makepublicform" style="display:none"></div>
  <div id="invitedform" style="display:none"></div>

  <p>
    Members of this group will be able to read items posted into the library. Additionally, if you enable the checkbox above, they will also be able to post items into this library.
  </p>
  <br/><hr/>
  <h4>Invitations</h4><br/>
  <!--div id="inviteds" style="display:none"><hr/-->
  <form class="form-inline" method="POST" action="{{url_for('adsgut.makeInvitations', po=po, pt=pt, pn=pn)}}">
      {{ inviteform.csrf_token }}
      {% if inviteform.recaptcha.errors %}
      <div class="alert alert-error">
        Wrong words in recaptcha!
      </div>
      {% endif %}
      {% if inviteform.memberable.errors %}
      <div class="alert alert-error">
        Email to invite to is needed!
      </div>
      {% endif %}

    Invite a user using their email: {{ inviteform.memberable }} {{ inviteform.changerw }} <label class="checkbox">Can Post?</label>
    {{ inviteform.op }}
    <p>
    {{ inviteform.recaptcha }}
    <input class="btn btn-primary" type="submit" value="Invite">
  </p>
  </form>
  <p>The user's invitation will show on the user's "Libraries" page (this action will NOT be sending email to them). If the user accepts the invitation, they will be able to read the library's items. Additionally, if you clicked the "Can Post" checkbox, they will also be able to post items into the library.</p>
  </div>
  <div id="inviteds" style="display:none"></div>
  <div>
      <h4> Delete this library </h4>
      <p> This is the point of no-return. You will loose everything you have saved in this library, and so will its other users. Things saved in the library are copied into your saved items, however, so the items themselves wont be lost, while the context is. </p>
      <p><a class='btn btn-danger' id="postabledeleter">DELETE</a></p>
  </div>
  {% endif %}
{% endblock %}
{% block coffeescript %}
$=jQuery
$ ->

  prefix=GlobalVariables.ADS_PREFIX+'/adsgut'
  config =
    fqpn : '{{ thepostable.basic.fqin}}'
    postablesURL: "#{prefix}/user/{{ useras.nick }}/profile/html"
    infoURL : "#{prefix}/library/{{ thepostable.basic.fqin}}"
    membersURL : "#{prefix}/library/{{ thepostable.basic.fqin}}/members"
    invitedsURL : "#{prefix}/library/{{ thepostable.basic.fqin}}/inviteds"
    owner : if '{{owner}}' == 'True' then true else false
    useras_nick: '{{ useras.nick }}'
    guiURL : "#{prefix}/user/{{useras.nick}}/groupsuserisin"

  sections =
    $infodiv : $('div#info')
    $membersdiv : $('div#members')
    $invitedform : $('div#invitedform')
    $makepublicform: $('div#makepublicform')
    $invitedsdiv : $('div#inviteds')

  libraryprofile.get_info(sections, config)
{% endblock %}
