{% extends "layout_local.html" %}
{% block localbody %}
<h3>Library {{thelibrary.basic.fqin}}</h3>
  <!--iframe width="100%" src="/library/{{ thelibrary.basic.fqin}}"></iframe-->
  <div id="info" style="display:none"></div>
  <br/><hr/>
  <h4>Members</h4><br/>
  <!--iframe width="100%" src="/library/{{ thelibrary.basic.fqin}}/members"></iframe-->
  <div id="members" style="display:none"></div>
  {% if owner %}

  <div id="invitedform" style="display:none"></div>
  <br/><hr/>
  <h4>Invitations</h4><br/>
  <div id="inviteds" style="display:none"></div>
  {% endif %}
{% endblock %}
{% block coffeescript %}
$=jQuery
$ -> 
  cback = () ->
    console.log "cback"
  eback = () ->
    console.log "eback"
  prefix=GlobalVariables.ADS_PREFIX+'/adsgut'
  console?.log "Hello World"
  fqpn='{{ thelibrary.basic.fqin}}'
  model={}
  $.get "#{prefix}/library/{{ thelibrary.basic.fqin}}", (data) ->
    console?.log data
    content=views.library_info data, templates.library_info
    $infodiv = $('div#info')
    $infodiv.append(content)
    $.fn.editable.defaults.mode = 'inline'
    $infodiv.find('.edtext').editable(
      type:'textarea'
      rows: 2
      url: (params) ->
        syncs.change_description(params.value,fqpn, cback, eback)
    )
    $infodiv.find('.edclick').click (e) ->
      e.stopPropagation()
      e.preventDefault()
      $infodiv.find('.edtext').editable('toggle')
    $infodiv.show()
  $.get "#{prefix}/library/{{ thelibrary.basic.fqin}}/members", (data) ->
    plinv=new libraryprofile.PostableListView(users:data.users, fqpn:'{{ thelibrary.basic.fqin}}', owner:'{{owner}}', $e_el:$('div#members'))
    #console.log "hi"
    #content=views.postable_members "{{thelibrary.basic.fqin}}", "{{owner}}", data, templates.postable_members, false
    #console.log "fi"
    #$('div#members').append(content)
    $('div#members').show()
    plinv.render()

  {% if owner %}
  viewu=new views.InviteUser({postable: "{{ thelibrary.basic.fqin}}", withcb:true})
  

  $.get "#{prefix}/user/{{useras.nick}}/groupsuserisin", (data) ->
    groups=data.groups
    view=new views.AddGroup({postable: "{{ thelibrary.basic.fqin}}", groups:groups, withcb:true} )
    $('div#invitedform').append(view.render().$el)
    
    $('div#invitedform').show()
  $.get "#{prefix}/library/{{ thelibrary.basic.fqin}}/inviteds", (data) ->
    content=views.postable_inviteds "{{ thelibrary.basic.fqin}}", data, templates.postable_inviteds, false
    $('div#inviteds').append(viewu.render().$el)
    $('div#inviteds').append(content)
    $('div#inviteds').show()

  {% endif %}
{% endblock %}