{% extends "layout_local.html" %}

{% block sidebar %}
<ul class="nav nav-list" id="stags">
</ul>
{% endblock %}

{% block localbody %}
{% if pflavor=='udg' %}
<h3>All items for {{useras.adsid}}</h3>
{% elif pflavor=='pub' %}
<h3>Public Feed</h3>
{% else %}
{% if p.classname=="library" %}
<h3>Items saved in library <a href="{{ url_for('adsgut.postableFilterHtml', po=po, pt=pt, pn=pn) }}">{{p.basic.name}}</a></h3>
{% elif p.classname=="group" %}
<h3>Items saved in group library <a href="{{ url_for('adsgut.postableFilterHtml', po=po, pt=pt, pn=pn) }}">{{p.basic.name}}</a></h3>
 {% endif %}
<!--p><b>owned by</b>: {{p.owner}}. <b>created by</b>: {{p.basic.creator}}. <b>UUID</b> {{ p.nick }}.</p-->
<div id="info" style="display:none"></div>
<span>
  Only from <a href="" id="useradder" class="hoverhelp" data="off">{{ useras.adsid }}</a> | Query: 
</span>
<hr/>
{% endif %}
<span id="breadcrumb">
{{ querystring }}
</span>

<!--ul id="items">
</ul-->
<div id="items">
</div>
{% endblock %}

{% block coffeescript %}
$=jQuery
console.log "In PostableFilter"


$ ->
  prefix=GlobalVariables.ADS_PREFIX+'/adsgut'
  widgets.decohelp('#useradder', 'help me', 'popover', 'left')
  {% if pflavor!= 'udg' and pflavor!='pub' %}

  $.get "#{prefix}/{{p.classname}}/{{ p.basic.fqin}}", (data) ->
    {% if p.classname=="library" %}
    content=views.library_info data, templates.library_itemsinfo
    {% elif p.classname=="group" %}
    content=views.group_info data, templates.group_itemsinfo
    {% endif %}
    $('div#info').append(content+'<hr/>')
    $('div#info').show()
  {% endif %}
  

  vars="{{ querystring | safe }}"
  $.get "{{ url_for('adsgut.tagsForPostable', po=po, pt=pt, pn=pn) }}?#{vars}", (data) ->
    #console.log "Tag Count", data.count, vars
    for own k,v of data.tags
      format_tags(k, $('#stags'), get_tags(v, '{{ tqtype }}'), '{{ tqtype }}')
  $.get "{{ url_for('adsgut.itemsForPostable', po=po, pt=pt, pn=pn) }}?#{vars}", (data) ->
    #console.log "Item Count", data.count, vars
    theitems=data.items
    thecount=data.count
    itemlist=("items=#{encodeURIComponent(i.basic.fqin)}" for i in theitems)
    itemsq=itemlist.join("&")
    console.log "itemsq", itemlist, itemsq
    $.get "{{ url_for('adsgut.itemsTaggingsAndPostings') }}?#{itemsq}", (data)->
      [stags, notes]=get_taggings(data)
      postings={}
      for own k,v of data.postings
        #console.log "2>>>", k,v[0],v[1]
        if v[0] > 0
          postings[k]=(e.thething.postfqin for e in v[1])
        else
          postings[k]=[]
      #format_items $('#items'), "{{useras.nick}}", theitems, thecount, stags, notes, postings, "li"
      ido=
        stags:stags
        postings:postings
        notes:notes
        $el:$('#items')
        items: theitems
        noteform: true
        nameable: false
        itemtype:'ads/pub'
        memberable:'{{useras.nick}}'

      plinv=new itemsdo.ItemsFilterView(ido)
      plinv.render()
  $ua=$('#useradder')
  nonqloc=document.location.href.split('?')[0]
  if $ua.attr('data') is 'off'
    if nonqloc is document.location.href
      urla=document.location+"?userthere=true"
    else
      urla=document.location+"&userthere=true"
    $ua.attr('href', urla)
    $ua.attr('data', 'on')
{% endblock %}