{% extends "layout_local.html" %}
{% block localbody %}
  <h3>Libraries for user {{theuser.adsid}}</h3>
  <!--iframe width="100%" src="/user/{{ theuser.nick}}"></iframe width="100%"-->
  <!--div id="userinfo" style="display:none"></div-->
  <br/>
  <p>You can import your existing libraries (with notes on publications) from from ADS Classic into ADS 2.0. This import performs a copy of your existing ADS Classic libraries. Any further changes to the ADS Classic libraries will not be reflected here, unless you click the re-import button.  Anything added in ADS 2.0 is NOT updated in the ADS Classic libraries.
  </p>
  <p> <a class="btn btn-info" href="{{ url_for('adsgut.get_classic_libraries', cookieid=theuser.cookieid)}}">Import Libraries</a> </p>
  <br/>
 
    <div id="createlibraries"></div>
    <div id="libraries">
      <div class="ow"></div>
      <div class="in"></div>
      <div class="iv"></div>
    </div>

  <br/>


  

{% endblock %}
{% block coffeescript %}
$=jQuery


$ -> 
  config = 
    userInfoURL: "{{ url_for('adsgut.userInfo', nick=useras.nick) }}"
    udgHtmlURL: "{{ url_for('adsgut.udgHtml', nick=useras.nick) }}"
  sections =
    $create: $('div#createlibraries')
    $info: $('#userinfo')
    $owned: $('#libraries div.ow')
    $in: $('#libraries div.in')
    $invited: $('#libraries div.iv')
  userprofile.layout_userprofile(sections, config, "lib")
{% endblock %}