{% from "macros/misc.html" import render_input_controlgroup, render_action_controlgroup %}

{% extends "layout.html" %}

{% block titlehead %}User Login{% endblock %}

{% block head%}{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="span9 offset1">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<form class="form-horizontal" method="POST" action="{{ url_for('user.change_password') }}" autocomplete="off">
					        <fieldset>
					        	{{ form.hidden_tag() }} {# takes care of the next hidden and of the csfr_token #}
					            <legend>Change Password</legend>
					            {{ render_input_controlgroup(form.old_password, field_cls='span10', placeholder=form.old_password.description) }}
					            {{ render_input_controlgroup(form.new_password, field_cls='span10', placeholder=form.new_password.description) }}
					            {{ render_input_controlgroup(form.confirm_new_password, field_cls='span10', placeholder=form.confirm_new_password.description) }}
					            
					            <div class="control-group">
									<div class="controls">
										<span class="required_string">* Required fields</span>
									</div>
								</div>
								{{ render_action_controlgroup(form.submit) }}
					        </fieldset>
						</form>
					</div>
		    	</div>
		    </div>
		</div>
	</div>
</div>

{% endblock %}