{% macro view_abstract_info(solrdoc, inveniodoc) %}
<div class="container-fluid absview">
	<div class="row-fluid">
		<div id="abstractContent" class="span9">
			<div class="content-fluid">
				<div class="row-fluid">
					<div class="span12 abstractTitle">{{ solrdoc.title }}</div>
				</div>
				<div class="row-fluid">
					<div class="span12 abstractAuthors">
						{% for author in inveniodoc.author %}
							<span class="authorName">{{ author.name }}</span>
							{% if author.affiliations %}
							<span class="authorAffiliation">(
								{% for aff in author.affiliations %}
									{{ aff }}{% if not loop.last %}; {% endif %}
								{% endfor %}
							)</span>{% endif %}{% if not loop.last %}; {% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12 abstractJournal">
						{% if solrdoc.pub_raw %}
							{{ solrdoc.pub_raw|safe }}
							{% if solrdoc.pub %}
							<span class="journalNormalized">({{ solrdoc.pub }})</span>
							{% endif %}
						{% endif %}
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12 abstractPubdate">
						<span class="pubdate"><em>Published in {{ solrdoc.pubdate|format_ads_date}}</em></span>
					</div>
				</div>
				{% if solrdoc.doi %}
				<div class="row-fluid">
					<div class="span12 abstractDOI">DOI:
						<span class=doi>
						{% for doistr in solrdoc.doi %}<a href="{{ doistr|ads_url_redirect(id_type='doi') }}" target="_blank">{{ doistr }}</a>{% if not loop.last %}; {% endif %}{% endfor %}
						</span>
					</div>
				</div>
				{% endif %}
				<div class="row-fluid">
					<div class="span12 abstractAbstract">
						<span class=abstract>
							{% if solrdoc.abstract %}{{ solrdoc.abstract|safe_html_unescape|safe }}{% else %}Abstract not available.{% endif %}
						</span>
					</div>
				</div>
				{% if inveniodoc.keyword.free or inveniodoc.keyword.controlled %}
				<div class="row-fluid">
					<div class="span12 abstractKeyword">
						{% if inveniodoc.keyword.free %}
							<div>
							<span class=keywordClassSchema>Free Keywords:</span>
							{% for key in inveniodoc.keyword.free %}<span class="keywordKey">{{ key.keyword }}</span>{% if not loop.last %}; {% endif %}{% endfor %}
							</div>
						{% endif %}
						{% if inveniodoc.keyword.controlled %}
							{% for schema in inveniodoc.keyword.controlled %}
								<div>
								<span class=keywordClassSchema>{{ schema }}:</span>
								{% for key in inveniodoc.keyword.controlled[schema] %}<span class="keywordKey">{{ key.keyword }}</span>{% if not loop.last %}; {% endif %}{% endfor %}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				{% endif %}
				
				{#  ###### PUT ARXIV LINK HERE IF EXISTS #}
				
				{% if solrdoc.copyright %}
				<div class="row-fluid">
					<div class="span12 abstractCopyright">
						<span class=copyright>{{ solrdoc.copyright }}</span>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		
		{# I get the links #}
		{% set links = solrdoc.getattr_func('links_data', g.formatter_funcs.field_to_json) %}
		{% set link_types = [] %}{% if links %}{% for link in links %}{% if link.get('type') %}{% do link_types.append(link.get('type')) %}{% endif %}{% endfor %}{% endif %}
		{# I get the ids #}
		{% set ids = solrdoc.getattr_func('ids_data', g.formatter_funcs.field_to_json) %}
		{% set id_types = [] %}{% if ids %}{% for id in ids %}{% if id.get('description') %}{% do id_types.append(id.get('description')) %}{% endif %}{% endfor %}{% endif %}
		{# few variables to build the letters #}
		{% if solrdoc.property %}{% if 'ADS_SCAN' in solrdoc.property %}{% set ads_scan = True %}{% else %}{% set ads_scan = False %}{%endif%}{% else %}{% set ads_scan = False %}{% endif %}
		{% if solrdoc.property %}{% if 'PUB_OPENACCESS' in solrdoc.property %}{% set pub_openaccess = True %}{% else %}{% set pub_openaccess = False %}{%endif%}{% else %}{% set pub_openaccess = False %}{% endif %}
		
		{% if ('electr' in link_types) or (ads_scan or 'pdf' in link_types) or (ads_scan) or 
		(current_user.is_authenticated() and 'electr' in link_types and not pub_openaccess and not ads_scan) or ('arXiv' in id_types) 
		or ('data' in link_types) or ('simbad' in link_types) or ('ned' in link_types) %}
		<div id="abstractRightMenu" class="span3 linkRightMenu">
			{% if ('electr' in link_types) or (ads_scan or 'pdf' in link_types) or (ads_scan) or 
			(current_user.is_authenticated() and 'electr' in link_types and not pub_openaccess and not ads_scan) or ('arXiv' in id_types) %}
			<dl>
				<dt>Full Text Sources</dt>
				{% if 'electr' in link_types %}<dd><a target="_blank" href="{{ solrdoc.bibcode|ads_url_redirect(id_type='electr') }}">Publisher article</a>{% if pub_openaccess %} <img alt="Open Access" title="Open Access" src="{{ url_for('static', filename='images/Open_Access_logo.png') }}"/>{% endif %}</dd>{% endif %}
				{% if ads_scan or 'pdf' in link_types %}<dd><a target="_blank" href="{{ solrdoc.bibcode|ads_url_redirect(id_type='article') }}">{% if ads_scan %}ADS PDF{% elif 'pdf' in link_types %}Publisher PDF{% endif %}</a>{% if ads_scan or pub_openaccess%} <img alt="Open Access" title="Open Access" src="{{ url_for('static', filename='images/Open_Access_logo.png') }}"/>{% endif %}</dd>{% endif %}
				{% if ads_scan %}<dd><a target="_blank" href="{{ solrdoc.bibcode|ads_url_redirect(id_type='gif') }}">ADS Scanned Article</a>  <img alt="Open Access" title="Open Access" src="{{ url_for('static', filename='images/Open_Access_logo.png') }}"/></dd>{% endif %}
				{% if current_user.is_authenticated() and 'electr' in link_types and not pub_openaccess and not ads_scan %}<dd><a target="_blank" href="{{ solrdoc.bibcode|ads_url_redirect(id_type='openurl') }}">Open URL</a></dd>{% endif %}
				{% if 'arXiv' in id_types %}<dd><a target="_blank" href="{{ solrdoc.bibcode|ads_url_redirect(id_type='preprint') }}">arXiv eprint</a> <img alt="Open Access" title="Open Access" src="{{ url_for('static', filename='images/Open_Access_logo.png') }}"/></dd>{% endif %}
			</dl>
			{% endif %}
			{% if ('data' in link_types) or ('simbad' in link_types) or ('ned' in link_types) %}
			<dl>
				<dt>Data Products</dt>
				{% if 'data' in link_types %}<dd><a target="_blank" href="{{ solrdoc.bibcode|ads_url_redirect(id_type='data') }}">Archival Data</a></dd>{% endif %}
				{% if 'simbad' in link_types %}<dd><a target="_blank" href="{{ solrdoc.bibcode|ads_url_redirect(id_type='simbad') }}">SIMBAD objects</a></dd>{% endif %}
				{% if 'ned' in link_types %}<dd><a target="_blank" href="{{ solrdoc.bibcode|ads_url_redirect(id_type='ned') }}">NED objects</a></dd>{% endif %}
			</dl>
			{% endif %}
		</div>
		{% endif %}
	</div>
	
	<!-- 
	
	<div class="row-fluid">
	    <div class="span2"><label>Links</label></div>
	    <div class="span5">
	        <a href="{{ solrdoc.classic_url() }}">Classic</a><br/>
	        <a href="{{ solrdoc.invenio_url() }}">Invenio</a><br/>
	        <a href="{{ solrdoc.invenio_marcxml_url() }}">Invenio MARCXML</a><br/>
	        <a href="{{ solrdoc.solr_url() }}">Solr</a><br/>
	    </div>
	</div>
	 -->
</div>

{% endmacro %}
