{% macro view_abstract_info(solrdoc, inveniodoc) %}
<div class="container-fluid absview">
	<div class="row-fluid">
		<div id="abstractContent" class="span9">
			<div class="content-fluid">
				<div class="row-fluid">
					<div class="span12 abstractTitle">{{ solrdoc.title }}</div>
				</div>
				<div class="row-fluid">
					<div class="span12 abstractAuthors">
						{% for author in inveniodoc.author %}
							<span class="authorName">{{ author.name }}</span>
							{% if author.affiliations %}
							<span class="authorAffiliation">(
								{% for aff in author.affiliations %}
									{{ aff }}{% if not loop.last %}; {% endif %}
								{% endfor %}
							)</span>{% endif %}{% if not loop.last %}; {% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12 abstractJournal">
						{% if solrdoc.pub_raw %}
							{{ solrdoc.pub_raw|safe }}
							{% if solrdoc.pub %}
							<span class="journalNormalized">({{ solrdoc.pub }})</span>
							{% endif %}
						{% endif %}
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12 abstractPubdate">
						<span class="pubdate"><em>Published in {{ solrdoc.pubdate|format_ads_date}}</em></span>
					</div>
				</div>
				{% if solrdoc.doi %}
				<div class="row-fluid">
					<div class="span12 abstractDOI">DOI:
						<span class=doi>
						{% for doistr in solrdoc.doi %}<a href="{{ doistr|ads_url_redirect(id_type='doi') }}" target="_blank">{{ doistr }}</a>{% if not loop.last %}; {% endif %}{% endfor %}
						</span>
					</div>
				</div>
				{% endif %}
				<div class="row-fluid">
					<div class="span12 abstractAbstract">
						<span class=abstract>
							{% if solrdoc.abstract %}{{ solrdoc.abstract|safe_html_unescape|safe }}{% else %}Abstract not available.{% endif %}
						</span>
					</div>
				</div>
				{% if inveniodoc.keyword.free or inveniodoc.keyword.controlled %}
				<div class="row-fluid">
					<div class="span12 abstractKeyword">
						{% if inveniodoc.keyword.free %}
							<div>
							<span class=keywordClassSchema>Free Keywords:</span>
							{% for key in inveniodoc.keyword.free %}<span class="keywordKey">{{ key.keyword }}</span>{% if not loop.last %}; {% endif %}{% endfor %}
							</div>
						{% endif %}
						{% if inveniodoc.keyword.controlled %}
							{% for schema in inveniodoc.keyword.controlled %}
								<div>
								<span class=keywordClassSchema>{{ schema }}:</span>
								{% for key in inveniodoc.keyword.controlled[schema] %}<span class="keywordKey">{{ key.keyword }}</span>{% if not loop.last %}; {% endif %}{% endfor %}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				{% endif %}
				
				{#  ###### PUT ARXIV LINK HERE IF EXISTS #}
				
				{% if solrdoc.copyright %}
				<div class="row-fluid">
					<div class="span12 abstractCopyright">
						<span class=copyright>{{ solrdoc.copyright }}</span>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<div id="abstractRightMenu" class="span3">
			right-menu
		</div>
	</div>
	
	<!-- 
	
	<div class="row-fluid">
	    <div class="span2"><label>Links</label></div>
	    <div class="span5">
	        <a href="{{ solrdoc.classic_url() }}">Classic</a><br/>
	        <a href="{{ solrdoc.invenio_url() }}">Invenio</a><br/>
	        <a href="{{ solrdoc.invenio_marcxml_url() }}">Invenio MARCXML</a><br/>
	        <a href="{{ solrdoc.solr_url() }}">Solr</a><br/>
	    </div>
	</div>
	 -->
</div>

{% endmacro %}
