{# Global imports #}
{% from "macros/record_list_macros/results.html" import render_search_result with context %}
{% from "macros/record_list_macros/pagination.html" import render_pagination, render_result_numbers with context %}
{% from "macros/record_list_macros/button_menu.html" import render_re_sort, render_toggle_all_paper_list, render_export_menu, render_view_menu with context %}

{% macro render_list_articles(list_articles, list_type, bibcode) %}

{% set query_components={'q':list_articles.request.get_param('q'), 'sort':(list_articles.request.get_param('sort').split(' ')[0], list_articles.request.get_param('sort').split(' ')[1])} %} 

<form id="search_results_form" action="">
	<input type="hidden" value='{{ query_components|tojson|safe }}' name="current_search_parameters" />
	<input type="hidden" value='{{ list_type }}' name="list_type" />
	<div class="container-fluid">	
	{# Navbar on top of the results #}
		<div class="row-fluid well well-small">
			<div class="span5 firstspan">
				{{ render_toggle_all_paper_list() }}
				{{ render_result_numbers(list_articles, url_for('abs.tab_list', bibcode=bibcode, list_type=list_type)) }}
			</div>
			<div class="span7 pull-right">
				<!-- button class="btn pull-right">Sort</button-->
				<!-- button class="btn pull-right">More</button-->
				{% set disabled = list_type == 'similar' %}
				{{ render_re_sort(list_articles, url_for('abs.tab_list', bibcode=bibcode, list_type=list_type), disabled) }}
				{{ render_export_menu() }}
			</div>
		</div>
	{# The actual results #}
	{% for doc in list_articles.get_docset_objects() %}
	    {{ render_search_result(doc, loop, list_articles.get_start_count()) }}
	{% endfor %}
	</div>
</form>
{{ render_pagination(list_articles.get_pagination(), url_for('abs.tab_list', bibcode=bibcode, list_type=list_type)) }}

{% endmacro %}