<!-- Code written by Rahul Dave, following Alex Holachek -->
<style>
#aladin-lite-div {
    height: 800px;
    width: 800px;
}

#bibcodeList {
    width: 400px;
}
</style>

<link rel="stylesheet" href="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
<div class="vis_body">
	<div class="container-fluid">
		<div class="row-fluid">

			<div class="span2" id="controlpanel"> 

                <div class="dropdown">
                    <a class="btn dropdown-toggle btn-block vis_item_format" data-toggle="dropdown" href="#">
                      What Is The Object Skymap?
                       <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu vis_ul vis_explanation" role="menu" aria-labelledby="dLabel" >
                        <li>This visualization utilizes CDS's excellent Alladin Lite web based sky visualization to
                            show the objects associated with a set of papers. The objects are color coded by their type.
                        </li>
                        <li>You can select you co-ordinate system by choosing J2000, or Gal(actic) from the dropdown menu,
                            and which layers you'd like to see, including surveys and object types, by clicking on the layers icon.
                            The search button will take you to a particular object or position.
                        </li>
                        <li> When you click the "Make a Selection" button below, you will be able to draw a rectangular region
                            on the screen. The objects included are printed out below on the left. Then, clicking "Apply Filter To
                            "Search" will choose the <strong>publications</strong> associated with those objects to narrow your search, 
                            returning you to the main search page.</li> 
                    </ul>
                </div>

                <button type="button" class="btn vis_item_format btn-info btn-block vis_btn" id="selectBtn">Make a selection</button>
                
				<button type="button" class="btn vis_item_format btn-info btn-block vis_btn" id="dofacet" style="display:none;">Filter Search By Selection</button>
                <div class="well well-small vis_item_format">
                    <p>Objects in search:</p>
                    <p id="object_list" class="vis_select_list">

                    </p>
                </div> 	
			</div>
		
			<div class="span10" id="chart">
				<div id="aladin-lite-div" ></div>
			</div>
		</div>
	</div>
</div>
<!--script type="text/javascript" src="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script-->

<script type="text/javascript">

	Array.prototype.clear = function() {
  		while (this.length > 0) {
    		this.pop();
  		}
	};
	var json = {{ bibcodes|tojson|safe }};
    console.log("JSON IS", json);
	var baseurlandquery = window.location.href;
    var newbibcodes=[];

    function generateSearch(){
    	var selected=newbibcodes;
		querypieces=[];
		if (selected.length==1){
			var querystring = "bibcode:"+encodeURIComponent(selected[0]);
		} else {
			querypieces.push("(");
			for (var i=0; i<selected.length; i++){
				if (i==0){
					querypieces.push(selected[i]);
				} else {
					querypieces.push('OR');
					querypieces.push(selected[i]);
				}
			}
			querypieces.push(")");
			var querystring=querypieces[0];
			querystring+=querypieces.slice(1,-1).join(' ');
			querystring+=querypieces.slice(-1)
	        querystring = "bibcode:"+encodeURIComponent(querystring);
		}//end else for multiple selected authors

		var finalURI= new Uri(baseurlandquery);
        var oldqlist = finalURI.getQueryParamValues('q');
        oldqlist.push(querystring);
        var qstring=oldqlist.join(' AND ');
		finalURI.replaceQueryParam('q', qstring);
		window.location.href = decodeURIComponent(finalURI.toString());
	}

    //from http://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit
    function post_to_url(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
             }
        }

        document.body.appendChild(form);
        form.submit();
    }
    
    function generateSearchPOST(){
        var selected=newbibcodes;
        querypieces=[];
        if (selected.length==1){
            var querystring = selected[0];
        } else {
            var querystring=selected.join("\n");
        }//end else for multiple selected authors

        var originalURI= new Uri(baseurlandquery);
        var oldqlist = originalURI.getQueryParamValues('q');
        var qstring=oldqlist.join(' AND ');
        var finalURI = new Uri('/search/bigquery/');
        finalURI.replaceQueryParam('q', qstring);
        post_to_url(finalURI.toString(),{'bigquery': querystring});
    }


    function newCatLayer(aladinLite, objArray, layerName) {
        var catalogLayer = a.createCatalog({name: layerName});
        aladinLite.addCatalog(catalogLayer);
        var sources = [];
        for (var k=0; k<objArray.length; k++) {
            sources.push(aladinLite.createSource(objArray[k].ra, objArray[k].dec, objArray[k].data));
        }
        catalogLayer.addSources(sources);

	}

    var a = new Aladin($('#aladin-lite-div')[0], {zoom: 180, survey:"P/DSS2/red"})
    //var a = $.aladin('#aladin-lite-div');
    //a.setImageSurvey(a.createImageSurvey('SIMBAD heatmap', 'SIMBAD heatmap', 'http://cdsannotations.u-strasbg.fr/ADSAllSkySurvey/SimbadHeatMaps/healpix/date-2000', 'equatorial', 3));

    
    
    a.on('select', function(sources) {
     // do something with the selected sources
     	newbibcodes.clear();
        //$('#object_list').empty();
        //console.log(sources.length);
        //console.log(sources);
        var templist, notuniqlist=[], uniqlist;
        var objectnames=[];
        for (var k=0; k<sources.length; k++) {
        	templist=sources[k].data.reflist;
            //console.log(sources[k]);
            objectnames.push(sources[k].data.name);
        	for (var j=0; j<templist.length; j++){
            	notuniqlist.push(templist[j]);
        	}
        }
        uniqlist=_.uniq(notuniqlist);
        for (var i=0; i < uniqlist.length; i++){
            newbibcodes.push(uniqlist[i]);
        }
        if (newbibcodes.length > 0){
            $('#dofacet').show();
        }
        $('#object_list').append(objectnames.join(', '));
     });
    
    $('#selectBtn').click(function() {
        $('#object_list').empty();
         a.select();
    });

    $('#dofacet').click(function() {
         generateSearchPOST();
    });

    $(document).ready( function(){
    	a.removeLayers();
        var list = json.bibcodes;
        //console.log("LIST", list);
        // query SIMBAD with list of bibcodes
        $.ajax({
            url: "http://simbad.harvard.edu/simbad/sim-nameresolver",
            data: {"bibcode": list.join(','), 'data': 'I.0,b,C.0(S;1),J,S(S,Q,B),T(M,Q,B)', 'output': 'json'},
            method: 'POST',
            success: function(datastring) {
            	try {
            		// simbad sends back invalid json if no results are found
                    var data=JSON.parse(datastring);
                } catch (e) {
                	// do nothing?
                }
                //console.log("Got back",);
                a.gotoPosition( data[0].ra, data[0].dec);
                var layersData = {'Stars': [], 'ISM': [], 'Galaxy': [], 'Radio sources': [], 'Other': []};
                var otype, category;
                for (var k=0; k<data.length; k++) {
                    var otype = data[k].otype;
                    //console.log("DD",data[k]);
                    if (otype=='Star') {
                        category = 'Stars';
                    }
                    else if (otype=='ISM') {
                        category = 'ISM';
                    }
                    else if (otype=='Galaxy') {
                        category = 'Galaxy';
                    }
                    else {
                        category = 'Other';
                    }
                    layersData[category].push({ra: data[k].ra, dec: data[k].dec, data: {reflist: data[k].reflist, otype: data[k].otype, name: data[k].mainId}});
                    //console.log(layersData);
                }
                for (var category in layersData) {
                    if (layersData[category].length==0) {
                        continue;
                    }
                    newCatLayer(a, layersData[category], category);
                }
            },
            error: function() {
                alert('Something wrong occured');
            }
        });
    }); // end jquery document.ready()

/*
$.ajax({
            url: "http://simbad.harvard.edu/simbad/sim-nameresolver",
            data: {"bibcode": list.join(','), 'data': 'I.0,b,C.0(S;1),J,S(S,Q,B),T(M,Q,B)', 'output': 'json'},
            method: 'GET',
            dataType: 'jsonp',
            success: function(data) {
                layersData = {'Stars': [], 'ISM': [], 'Galaxy': [], 'Radio sources': [], 'Other': []};
                var otype, category;
                for (var k=0; k<data.length; k++) {
                    otype = data[k].otype;
                    if (otype=='Star') {
                        category = 'Stars';
                    }
                    else if (otype=='ISM') {
                        category = 'ISM';
                    }
                    else if (otype=='Galaxy') {
                        category = 'Galaxy';
                    }
                    else {
                        category = 'Other';
                    }
                    layersData[category].push({ra: data[k].ra, dec: data[k].dec, data: {reflist: data[k].reflist, otype: data[k].otype}});
                    console.log(layersData);
                }
                for (var category in layersData) {
                    if (layersData[category].length==0) {
                        continue;
                    }
                    newCatLayer(a, layersData[category], category);
                }
            },
            error: function() {
                console.log('Something wrong occured');
            }
        });
*/
</script>


