{# Template that renders a set of article graphics #}
<script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
}
</script>
{% if not results.get('figures', []) %}
	<dl><dt></dt></dl>
{% else %}
	<dl><dt>Graphics</dt></dl>
	<dd><a href="javascript:toggleDiv('images');" title="toggle display">Article Illustrations ({{ results.get('number', 'NA')}})</a></dd>
	{{ results.get('pick', '') | safe }}
	
		<!-- <div id="images" style="position: fixed; width: 100px; height: 100px; border: 1px solid #FF00FF;float: left; top: 25%; right: 500px; display: none;"> -->
		<div id="images" style="position: fixed; float: left; top:45%; right:400px; width: 500px; height: auto; display: none; background: white">
			{% for item in results['widgets'] %}
			    {{ item | safe }}
			{% endfor %}
		</div>

{% endif %}