<!-- Alex -->
<div class="vis_body">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2" id="wordcloud_controlpanel" style="margin-top:5%">

        <div class="dropdown">
          <a class="btn dropdown-toggle vis_item_format btn-block" data-toggle="dropdown" href="#">
            What is the Word Cloud?
             <span class="caret"></span>
          </a>
          <ul class="dropdown-menu vis_ul vis_explanation" role="menu" aria-labelledby="dLabel" >
              <li> This word cloud allows you to view interesting words from the titles and abstracts of your search
                results. <br/> Click <strong> Frequent</strong> to view a word cloud that is simply composed of the words that appeared most frequently in your results. (This word cloud is likely to feature generic terms like "observations" prominently.) <br/> Click <strong>Unique</strong> to see a word cloud that shows words that appeared fairly often in your results but rarely in the rest of the ADS. This word cloud shows you what distinguishes your results from the rest of the ADS corpus.<br/>
              To facet your ADS search, select words from the word cloud and click the "Apply Filter to Search"
                button.</li>
          </ul>
        </div> 


        <div class="well well-small vis_item_format"><span style="font-size:14px"> Recalculate Word Cloud</span><br/><br/>

            <div id="word-choice">
            <label class="radio">
              <input type="radio" name="choice-radio" id="optionsRadios1" value="1">
              Frequent
            </label>

            <label class="radio">
              <input type="radio" name="choice-radio" id="optionsRadios2" value="3" checked>
              Unique
            </label>
          </div>

        </div>
     <div class="well well-small vis_item_format ">
           <p> Selected Terms: </p>
            <ul class="vis_ul vis_select_list" id="list">
              <li> Click on a term to add it to this list.</li>
              <li> Click again on the term to remove it.</li>
            </ul>

            <button type="button" class="btn btn-info vis_center" id="authorfacet">Apply Filter to Search</button>
        </div> 
      </div>

   

      <div class="span10" id="wordcloud_container"></div>
    </div>
  </div>

<script>

// document.ready
$(function(){

  jQuery.fn.d3Click = function () {
  this.each(function (i, e) {
    var evt = document.createEvent("MouseEvents");
    evt.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);

    e.dispatchEvent(evt);
  });
};

//initialize final word list
var wordCloud = {
    //load new data
    rawWordDict : {{ wordcloud_data|tojson|safe }},
    baseurlandquery: window.location.href,
    colorRange: ["#80E6FF", "#7575FF", "#7575FF", "#47008F"],
    sliderRange: {'1':[1,0],'3':[0,1]},
    width : $(window).width()*.8,
    height : $(window).height()*.95,
    pixelScale : undefined,
    fill : undefined,
    glowScale : undefined,
    highlight_color: "rgb(255, 165, 0)",
    selected : Array(),

    generateWordCloudArray : function (wordDict)
            {
              var a=Array();
              for (var entry in wordDict)
                  { 
                    a.push({text: entry, size: wordCloud.pixelScale(wordDict[entry]), select:false, origSize: wordDict[entry]})
                  };
                    return a
            },
    render : function(weight) {

         var wordDict = _.map(wordCloud.rawWordDict, function(val,key) {
                       
                            var freq =  val['total_occurences'];
                            var tfidf = val['idf'] * freq;
                            var modifiedVal = wordCloud.sliderRange[weight][0]* freq + wordCloud.sliderRange[weight][1]* tfidf;
                            // some stuff might be NaN, so do || 0
                            return [key, modifiedVal||0]
                         }
                      );
          
     // sort to get 60 top candidates
      var wordDict = _.last(_.sortBy(wordDict, function(l){return l[1]}), 60)

      var wordDict = _.object(wordDict),
          min = _.min(_.values(wordDict)),
          max = _.max(_.values(wordDict));

      wordCloud.fill = d3.scale.log().domain([min,max]);
      wordCloud.fill.domain([0, .25, 0.5, 0.75, 1].map(wordCloud.fill.invert));
      wordCloud.fill.range(wordCloud.colorRange).clamp(true);

      wordCloud.pixelScale=d3.scale.log()
                  .domain([min, max]).range([wordCloud.width/70, wordCloud.width/15]);

      wordCloud.glowScale=d3.scale.log()
                  .domain([min, max]).range([1.5,4]);

      var wordList=wordCloud.generateWordCloudArray(wordDict);

      d3.layout.cloud()
          .size([wordCloud.width, wordCloud.height])
          .words(wordList)
          .padding(3)
          .rotate(function() { return 0})
          .font("Arial")
          .fontSize(function(d) { return d.size; })
          .on("end", wordCloud.draw)
          .start();

    },

    draw : function (words) {
      d3.select("#wordcloud_container")
        .append("svg")
        .attr('width', wordCloud.width)
        .attr('height', wordCloud.height)
        .append("g")
        .attr("transform", function()
                {
                    return "translate(" + wordCloud.width/2+" "+ wordCloud.height/2+")"
                })
        .selectAll("text")
          .data(words)
          .enter()
          .append("text")
          .classed("wordcloud_text vis_svgtext vis_hover_pointer", true)
          .style("font-size", function(d) {return d.size + "px"; })
          .style("fill", function(d, i) {return wordCloud.fill(d.origSize);})
          .attr("text-anchor", "middle")
          .attr("transform", function(d) 
                              { 
                                  return "translate(" + [d.x, d.y] + ")";
                              })
          .text(function(d) { return d.text; })
          .on("click", function(d){
              if (d.select==false)
                  {
                      d3.select(this)
                        .transition()
                        .duration(500)
                        .style("fill", wordCloud.highlight_color)
                        d.select=true
                        wordCloud.selected.push(d.text)
                      //removing current list
                      d3.select("#list")
                          .selectAll("li")
                          .remove()
                      for (var i=0; i<wordCloud.selected.length; i++)
                            {
                              d3.select("#list")
                              .append("li")
                              .html(wordCloud.selected[i] + "<i class= \"icon-remove\"></i>")
                            }
                    }
              else    
                  {
                    d3.select(this)
                      .transition()
                      .duration(500)
                    .style("fill", function(d, i) {return wordCloud.fill(d.origSize)});
                      d.select=false;
                      var i=wordCloud.selected.indexOf(d.text);
                      wordCloud.selected.splice(i, 1);
                    d3.select("#list")
                        .selectAll("li")
                        .remove()
                      for (var i=0; i<wordCloud.selected.length; i++)
                          {
                            d3.select("#list")
                            .append("li")
                            .html(wordCloud.selected[i] + "<i class= \"icon-remove\"></i>")
                          }
                  }
                d3.select("#list")
                        .append("li")
                        .html(function()
                            {
                              if (wordCloud.selected.length==0)

                                {
                                  return '<li> Click on a term to add it to this list.</li>'
                                }
                          })

                  d3.select("#authorfacet")
                      .on("click", wordCloud.generateSearch)
                      });//end on(click)

            var svg= d3.select("#wordcloud_container")
                        .select("svg")
                          
            var filter= svg
                            .append("filter")
                            .attr("id", "glow");

                filter.append("feColorMatrix")
                        .attr("type", "matrix")
                        .attr("values", "0 0 0 1  0  0 0 0 .35 0  0 0 0 0 0  0 0 0 1   0")
            
              var blur=  filter.append("feGaussianBlur")
                        .attr("result", "coloredBlur");

              var feMerge=filter.append("feMerge");
                      
                      feMerge.append("feMergeNode")
                            .attr("in", "coloredBlur");
                
                      feMerge.append("feMergeNode")
                              .attr("in", "SourceGraphic");

              var text= svg.selectAll(".wordcloud_text");

                      text.on("mouseover", function(d)
                                { 
                                  blur
                                    .attr("stdDeviation", wordCloud.glowScale(d.origSize))
                                    d3.select(this)
                                      .attr("filter", "url(#glow)")
                                }
                            );

                      text.on("mouseout", function()
                                {
                                  d3.selectAll(".wordcloud_text")
                                    .attr("filter", null)
                                  d3.select("svg")
                                }
                            );
          },

    generateSearch : function()
            {
                var selectedTerms=[];   
            
                $.each(wordCloud.selected, function(idx, term) {
                    selectedTerms.push('"' + term + '"'); 
                });
                
                var newTerms = '(' + selectedTerms.join(' OR ') + ')';
                   
                var finalURI= new Uri(wordCloud.baseurlandquery);
                var newQuery = finalURI.getQueryParamValue('q') + ' AND ' + newTerms;
                finalURI.replaceQueryParam('q', newQuery);

                window.location.href = decodeURIComponent(finalURI.toString());
            }
};


$("body").on("click", "i.icon-remove", function(e){
          var val = $(e.currentTarget).parent().text();

          if ($(".wordcloud_text:contains("+val+")").filter(function(){return $(this).text()==val}).css("fill")===wordCloud.highlight_color)
            {  
              $(".wordcloud_text:contains("+val+")").filter(function(){return $(this).text()==val}).d3Click();
            }
        
        else //just re-render the list
            {  wordCloud.selected = _.without(wordCloud.selected, val);
              d3.select("#list")
                .selectAll("li")
                .remove()
              for (var i=0; i<wordCloud.selected.length; i++)
                  {
                    d3.select("#list")
                    .append("li")
                    .html(wordCloud.selected[i] + "<i class= \"icon-remove\"></i>")
                  }
            }

        });

     wordCloud.render("3");

    $("input[name=\"choice-radio\"]").on('click', function() {
          $("#wordcloud_container").empty();
          wordCloud.render($(this).val());
        }
    );     
});
      
</script>
</div>